$namespace: ".pbs-profile-grid";
$grid: ".og-grid";
@mixin grid($g) {
    #{$g} {
        list-style: none;
        padding: 30px 0;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        position: relative;
        li {
            display: inline-block;
            margin-right: 9px;
            margin-bottom: 15px;
            vertical-align: top;
            height: 300px;
            width: 300px;
            text-align: center;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &:nth-child(4n), &:last-child {
                margin-right: 0;
            }
            & > a,
            & > a img {
                border: none;
                outline: none;
                display: inline-block;
                position: relative;
                text-align: center;
                margin: auto;
                max-width: 100%;
                max-height: 100%;
            }
            & > a {
                background: #efefef;
                height: 300px;
                width: 300px;
                line-height: 298px;
                display: inline-block;
                vertical-align: middle;
            }
            h2 {
                position: absolute;
                bottom: 0px;
                left: 0px;
                background: linear-gradient(to bottom, rgba(135, 135, 135, 0), rgba(0, 0, 0, 0.74));
                width: 100%;
                padding: 10px;
                font-weight: normal;
                font-size: 20px;
                color: white;
                line-height: 21px;
                margin: 0;
                text-align: left;
                word-wrap: break-word;
                box-sizing: border-box;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
            }
            &.og-expanded > a::after {
                bottom: 0;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-bottom-color: #efefef;
                border-width: 15px;
                left: 50%;
                margin: 0px 0 -11px -15px;
            }
        }
        .og-expander {
            position: absolute;
            background: #efefef;
            top: auto;
            left: 0;
            width: 100%;
            margin-top: 10px;
            text-align: left;
            height: 0;
            overflow: hidden;
        }
        .og-expander-inner {
            padding: 30px;
            height: auto;
            overflow: hidden;

            @media (max-width: 767px) {
                padding: 30px;
            }
            @media (max-width: 320px) {
                padding-top: 50px;
            }
        }
        .og-close {
            position: absolute;
            width: 20px;
            height: 20px;
            top: 20px;
            right: 20px;
            cursor: pointer;
            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 100%;
                top: 50%;
                height: 1px;
                background: #888;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &::after {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
            &:hover::before,
            &:hover::after {
                background: #333;
            }
            @media (max-width: 767px) {
                height: 30px;
                width: 30px;
                top: 15px;
                right: 15px;
                z-index: 10;
            }
        }
        .og-fullimg-wrapper,
        .og-details,
        .og-bottom-details {
            width: 48%;
            float: left;
            height: 100%;
            overflow: hidden;
            position: relative;
        }
        .og-details,
        .og-bottom-details {
            height: auto;
            line-height: normal;
        }
        .og-fullimg-wrapper {
            text-align: center;
            height: auto;
            margin-right: 3%;
            img {
                display: inline-block;
                max-height: 100%;
                max-width: 100%;
            }
            .og-img-credit {
                font-size: 11px;
                float: left;
                color: #d1d2d4;
                line-height: 16px;
                text-align: left;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 100;
                width: 100%;
                word-wrap: break-word;
                padding: 10px;
                background: rgba(0, 0, 0, .5);
                border-top: 1px solid #464646;
            }
        }
        .og-details {
            h3 {
                font-weight: 300;
                font-size: 30px;
                line-height: 41px;
                padding: 0px 0 10px;
                margin-bottom: 10px;
                color: #464646;
                word-wrap: break-word;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 22px;
                color: #222;
                margin-bottom: 0;
                word-wrap: break-word;
            }
            a {
                margin-top: 20px;
                color: #747474;
                font-size: 16px;
                line-height: 22px;
                padding: 15px 35px 15px 15px;
                border: 2px solid #747474;
                display: inline-block;
                position: relative;
                text-decoration: none;
                word-wrap: break-word;
                max-width: 100%;

                &:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    text-decoration: inherit;
                    -webkit-font-smoothing: antialiased;
                    display: inline;
                    width: auto;
                    height: auto;
                    line-height: normal;
                    vertical-align: baseline;
                    background-image: none;
                    background-position: 0 0;
                    background-repeat: repeat;
                    margin-top: 0;
                    position: absolute;
                    right: 15px;
                    font-size: 22px;
                    top: 14px;
                }
            }
        }
        .og-bottom-details {
            border-top: 1px solid #ddd;
            margin-top: 30px;
            padding-top: 20px;
            font-size: 16px;
            line-height: 22px;
            color: #222;
            span {
                display: block;
                margin-bottom: 10px;
                word-break: break-word;
            }
            a {
                color: #309BC5;
                display: block;
                margin-bottom: 10px;
                padding-right: 20px;
                position: relative;
                text-decoration: none;
                word-wrap: break-word;

                &:after {
                    content: "\f105";
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-style: normal;
                    text-decoration: inherit;
                    -webkit-font-smoothing: antialiased;
                    display: inline;
                    width: auto;
                    height: auto;
                    line-height: normal;
                    vertical-align: baseline;
                    background-image: none;
                    background-position: 0 0;
                    background-repeat: repeat;
                    margin-top: 0;
                    position: absolute;
                    font-size: 20px;
                    // top: 0;
                    margin-left: 10px;
                }
            }
        }
        @media (max-width: 768px) {
            .og-bottom-details {
                width: 100%;
            }
            .og-fullimg-wrapper {
                height: auto;
                display: block;
            }
            .og-bottom-details a {
                width: 50%;
                float: left;
            }
        }
        @media (max-width: 767px) {
            .og-fullimg-wrapper,
            .og-details,
            .og-bottom-details,
            .og-bottom-details a {
                width: 100%;
                margin-right: 0
            }
            .og-details {
                margin-top: 20px;
            }
        }
        .og-loading {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #efefef;
            box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -25px 0 0 -25px;
            -webkit-animation: loader 0.5s infinite ease-in-out both;
            -moz-animation: loader 0.5s infinite ease-in-out both;
            animation: loader 0.5s infinite ease-in-out both;
        }
        .image-loading {
            -webkit-animation: fadeIn 0.65s ease forwards;
            -moz-animation: fadeIn 0.65s ease forwards;
            animation: fadeIn 0.65s ease forwards;
        }

        @-webkit-keyframes loader {
            0% {
                background: #efefef;
            }
            33% {
                background: #ccc;
                box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
            }
            66% {
                background: #ccc;
                box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
            }
        }
        @-moz-keyframes loader {
            0% {
                background: #efefef;
            }
            33% {
                background: #ccc;
                box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
            }
            66% {
                background: #ccc;
                box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
            }
        }
        @keyframes loader {
            0% {
                background: #efefef;
            }
            33% {
                background: #ccc;
                box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
            }
            66% {
                background: #ccc;
                box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
            }
        }
    }
}
@mixin overides() {
    body:not(.studio) {
        margin-top: 0 !important;
    }
    body.dark {
        .pbs-profile-grid {
            h1, .profile-grid-descr {
                color: white;
            }
        }
        #og-additems {
            color: white;
            border-color: white;
        }
    }
    .studio,
    .tpl-producer,
    .tpl-station {
        .span12.page-content {
            .og-grid {
                li {
                    &,
                    & > a {
                        width: 301px;
                        height: 301px;
                        line-height: 299px;
                        
                        @media (min-width: 1024px) and (max-width: 1279px) {
                            width: 309px;
                            height: 309px;
                            line-height: 307px;
                        }
                        @media (min-width: 961px) and (max-width: 1023px) {
                            width: 289px;
                            height: 289px;
                            line-height: 287px;
                        }
                        @media (width: 960px) {
                            width: 298px;
                            height: 298px;
                            line-height: 296px;
                        }
                        @media (min-width: 768px) and (max-width: 959px) {
                            width: 355px;
                            height: 355px;
                            line-height: 353px;
                        }
                        @media (min-width: 480px) and (max-width: 767px) {
                            width: 440px;
                            height: 440px;
                            line-height: 438px;
                            margin-right: 0 !important;
                        }
                        @media (max-width: 479px) {
                            width: 285px;
                            height: 285px;
                            line-height: 283px;
                            margin-right: 0 !important;
                        }
                    }
                    @media (min-width: 960px) and (max-width: 1279px) {
                        & {
                            margin-right: 9px;
                        }
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                        &:nth-child(3n+1) {
                            margin-right: 9px;
                        }
                    }
                    @media (min-width: 640px) and (max-width: 959px) {
                        margin-right: 0;
                        &:nth-child(4n) {
                            margin-right: 0
                        }
                        &:nth-child(2n+1) {
                            margin-right: 13px;
                        }
                    }
                }
            }
        }
        .og-expander .og-fullimg {
            @media (min-width: 1025px){
                height: 566px;
                width: 566px;
                max-width: 100%;
                margin: auto;
                line-height: 566px;
                position: relative;
            }
            @media (max-width: 1024px) and (min-width: 961px){
                height: 428px;
                width: 428px;
                max-width: 100%;
                margin: auto;
                line-height: 428px;
            }
            @media (max-width: 960px) and (min-width: 769px){
                height: 387px;
                width: 387px;
                max-width: 100%;
                margin: auto;
                line-height: 387px;
            }
            @media (max-width: 768px) {
                height: 320px;
                width: 320px;
                max-width: 100%;
                margin: auto;
                line-height: 320px;
            }
            @media (max-width: 767px) {
                height: 600px;
                width: 660px;
                max-width: 100%;
                margin: auto;
                line-height: 600px;
            }
            @media (max-width: 640px) {
                height: 480px;
                width: 480px;
                margin: auto;
                line-height: 480px;
            }
            @media (max-width: 480px) {
                height: 320px;
                width: 320px;
                margin: auto;
                line-height: 320px;
            }
            @media (max-width: 320px) {
                height: 220px;
                width: 220px;
                padding: 0;
                margin: auto;
                line-height: 220px;
            }
        }
    }
    .studio,
    body.tpl-station:not(.tpl-producer) {
        .span8.page-content {
            .og-grid {
                li {
                    &,
                    & > a {
                        width: 309px;
                        height: 309px;
                        line-height: 307px;

                        @media (min-width: 1280px) {
                            width: 287px;
                            height: 287px;
                            line-height: 285px;
                        }
                        @media (max-width: 1279px) and (min-width: 1024px) {
                            width: 309px;
                            height: 309px;
                            line-height: 307px;
                        }
                        @media (min-width: 961px) and (max-width: 1023px) {
                            width: 289px;
                            height: 289px;
                            line-height: 287px;
                        }
                        @media (width: 960px) {
                            width: 298px;
                            height: 298px;
                            line-height: 296px;
                        }
                        @media (min-width: 768px) and (max-width: 959px) {
                            width: 355px;
                            height: 355px;
                            line-height: 353px;
                        }
                        @media (min-width: 480px) and (max-width: 767px) {
                            width: 440px;
                            height: 440px;
                            line-height: 438px;
                            margin-right: 0 !important;
                        }
                        @media (max-width: 479px) {
                            width: 280px;
                            height: 280px;
                            line-height: 278px;
                            margin-right: 0 !important;   
                        }
                    }
                   
                    &:nth-child(4n) {
                        margin-right: 9px;
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                    @media (min-width: 1025px) and (max-width: 1279px) {
                        margin-right: 0;
                        &:nth-child(2n+1) {
                            margin-right: 13px;
                        }
                        &:nth-child(4n) {
                            margin-right: 0;
                        }
                    }
                    @media (min-width: 640px) and (max-width: 959px) {
                        margin-right: 0;
                        &:nth-child(4n) {
                            margin-right: 0
                        }
                        &:nth-child(2n+1) {
                            margin-right: 13px;
                        }
                    }
                    @media (max-width: 639px) {
                        margin-right: 0 !important;
                    }
                }
                .og-fullimg-wrapper {
                    width: 45%;
                    height: auto;
                }
                .og-details {
                    width: 52%;
                    line-height: normal;
                }
                .og-bottom-details {
                    width: 100%;
                    a {
                        width: 50%;
                        float: left;
                    }
                }
                .og-fullimg-wrapper,
                .og-details {
                    @media (max-width: 767px) {
                        width: 100%;
                        margin-right: 0;
                        padding-bottom: 0;
                    }
                }
            }
            //preview image
            .og-expander .og-fullimg {
                background: #efefef;
                height: 371px;
                width: 371px;
                line-height: 371px;
                position: relative;
                
                @media (max-width: 1024px) and (min-width: 961px){
                    height: 402px;
                    width: 402px;
                    max-width: 100%;
                    margin: auto;
                    line-height: 402px;
                }
                @media (max-width: 960px) and (min-width: 769px){
                    height: 387px;
                    width: 387px;
                    max-width: 100%;
                    margin: auto;
                    line-height: 387px;
                }
                @media (max-width: 768px) {
                    height: 300px;
                    width: 300px;
                    max-width: 100%;
                    margin: auto;
                    line-height: 300px;
                }
                @media (max-width: 767px) {
                    height: 600px;
                    width: 660px;
                    max-width: 100%;
                    margin: auto;
                    line-height: 600px;
                }
                @media (max-width: 640px) {
                    height: 480px;
                    width: 480px;
                    margin: auto;
                    line-height: 480px;
                }
                @media (max-width: 480px) {
                    height: 320px;
                    width: 320px;
                    margin: auto;
                    line-height: 320px;
                }
                @media (max-width: 320px) {
                    height: 220px;
                    width: 220px;
                    padding: 0;
                    margin: auto;
                    line-height: 220px;
                }
            }
        }
    }
    body.tpl-station:not(.tpl-producer):not(.studio) {
        .span8.page-content {
            .pbs-profile-grid {
                padding: 40px 0 0;
                .span8 {
                    @media (max-width: 1279px) {
                        width: 100%;
                    }
                    @media (max-width: 960px) {
                        padding: 0 20px;
                    }
                }
                @media (min-width: 961px) {
                    li {
                        margin-right: 8px;
                        &,
                        & > a {
                            width: 194px;
                            height: 194px;
                            line-height: 192px;
                        }
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                }
            }
            .og-expander .og-fullimg {
                @media (min-width: 1024px){
                    height: 247px;
                    width: 247px;
                    line-height: 247px;
                }
            }
        }
    }
    body.tpl-producer:not(.studio) {
        .span8.page-content {
            .pbs-profile-grid {
                padding: 40px 0 0;

                @media (max-width: 960px) {
                    padding: 40px 20px 0;
                }

                .span8 {
                    width: 100%;
                }
                li {
                    &,
                    & > a {
                        @media (min-width: 966px) {
                            width: 195px;
                            height: 195px;
                            line-height: 193px;
                        }
                        @media (min-width: 961px) and (max-width: 965px) {
                            width: 193px;
                            height: 193px;
                            line-height: 191px;
                        }
                        @media (width: 960px) {
                            width: 298px;
                            height: 298px;
                            line-height: 296px;
                        }
                        @media (min-width: 768px) and (max-width: 959px){
                            width: 234px;
                            height: 234px;
                            line-height: 232px;   
                        }
                         @media (min-width: 480px) and (max-width: 767px) {
                            width: 440px;
                            height: 440px;
                            line-height: 438px;
                            margin-right: 0 !important;
                        }
                        @media (max-width: 479px) {
                            width: 285px;
                            height: 285px;
                            line-height: 283px;
                            margin-right: 0 !important;
                        }
                    }
                    &:nth-child(4n) {
                        margin-right: 9px;
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                    @media (min-width: 768px) and (max-width: 960px) {
                        &:nth-child(3n) {
                            margin-right: 0;
                        }
                    }
                    h2 {
                        font-size: 18px;
                        font-weight: 300;
                    }
                }
            }
            .og-grid {
                .og-bottom-details {
                    width: 100%;
                }
                .og-fullimg-wrapper {
                    height: auto;
                }
                .og-bottom-details a {
                    width: 50%;
                    float: left;
                }
            }
            .og-expander .og-fullimg {
                @media (min-width: 1024px) {
                    height: 264px;
                    width: 264px;
                    line-height: 264px;
                }
            }
        }
    }
    body:not(.studio) .span12.page-content {
        .pbs-profile-grid {
            padding: 40px 0 0;

            @media (max-width: 960px) {
                padding: 40px 20px 0;
            }
            .span8 {
                width: 100%;
            }
            li {
                &,
                & > a {
                    @media (min-width: 1024px) {
                        width: 312px;
                        height: 312px;
                        line-height: 310px;
                    }

                    @media (min-width: 970px) and (max-width: 1023px) {
                        width: 300px;
                        height: 300px;
                        line-height: 298px;
                    }
                    @media (min-width: 960px) and (max-width: 969px) {
                        width: 295px;
                        height: 295px;
                        line-height: 293px;
                    }
                }
                @media (min-width: 1280px) {
                    &:nth-child(4n) {
                        margin-right: 9px;
                    }
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                }
            }
        }
        .og-expander .og-fullimg {
            @media (min-width: 1024px) {
                height: 432px;
                width: 432px;
                line-height: 432px;
            }
        }
        
    }
   
    #og-additems {
        margin: 0 auto 30px;
        width: 150px;
        text-align: center;
        color: #747474;
        font-size: 16px;
        line-height: 22px;
        padding: 15px 25px;
        border: 2px solid #747474;
        display: block;
        position: relative;
        text-decoration: none;

        &:hover {
            background: #747474;
            color: white;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;

        }
    }
}
@mixin promo() {
    .pbs-profile-promo {
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 20px;

        h1 {
            background: #F4F4F4;
            padding: 30px 45px;
            color: #5A585A;
            text-transform: capitalize;
            word-wrap: break-word;
        }
        .row-fluid + .row-fluid {
            .span12, .span8 {
                border-bottom: 1px solid #D1D1D1;
                overflow: hidden;
            }
        }
        .og-grid {
            padding: 0;
        }
        .profile-promo-all {
            margin-top: 10px;
            color: #747474;
            font-size: 16px;
            font-weight: 500;
            line-height: 22px;
            display: inline-block;
            text-decoration: none;
            float: right;
            margin-bottom: 15px;

            &:after {
                content: "\f105";
                font-family: FontAwesome;
                font-weight: normal;
                font-style: normal;
                text-decoration: inherit;
                -webkit-font-smoothing: antialiased;
                display: inline;
                width: auto;
                height: auto;
                line-height: normal;
                vertical-align: baseline;
                background-image: none;
                background-position: 0 0;
                background-repeat: repeat;
                margin-top: 0;
                font-size: 22px;
                float: right;
                margin-left: 10px;
            }
        }
    }
    @media (min-width: 768px) and (max-width: 959px) {
        body {
            &.studio, &:not(.studio) {
                .span8.page-content, .span12.page-content {
                    .pbs-profile-promo {
                        padding-left: 0px;
                        padding-right: 0px;
                        .og-grid {
                            li, li > a {
                                width: 232px;
                                height: 232px;
                                line-height: 230px;
                            }
                            li {
                                &:nth-child(2n) {
                                    margin-right: 13px;
                                }
                                &:nth-child(3n) {
                                    margin-right: 0;
                                }
                            }    
                        }
                    } 
                }
            }
            &:not(.studio) {
                .span12.page-content .pbs-profile-promo {
                    .og-grid {
                        li, li > a {
                            width: 235px;
                            height: 235px;
                            line-height: 233px;
                        } 
                        li {
                            &:nth-child(2n+1) {
                                margin-right: 13px;
                            }
                            &:nth-child(3n) {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .span8.page-content .pbs-profile-promo {
                    .og-grid {
                        li, li > a {
                            width: 152px;
                            height: 152px;
                            line-height: 150px;
                        }
                        li {
                            &:nth-child(2n+1) {
                                margin-right: 9px;
                            }
                            &:nth-child(3n) {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (min-width: 960px) and (max-width: 1023px) {
        body {
            &.studio {
                .span8.page-content, .span12.page-content {
                    .pbs-profile-promo {
                        padding-left: 0px;
                        padding-right: 0px;
                        .og-grid {
                            li, li > a {
                                width: 298px;
                                height: 298px;
                                line-height: 296px;
                            } 
                        }
                    } 
                }
            }
            &:not(.studio) {
                .span12.page-content .pbs-profile-promo {
                    .og-grid {
                        li, li > a {
                            width: 299px;
                            height: 299px;
                            line-height: 297px;
                        } 
                    }
                }
                .span8.page-content .pbs-profile-promo {
                    .og-grid {
                        li, li > a {
                            width: 194px;
                            height: 194px;
                            line-height: 192px;
                        }
                         li {
                            &:nth-child(2n+1) {
                                margin-right: 9px;
                            }
                            &:nth-child(3n) {
                                margin-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 960px) {
        body.studio {
            .span8.page-content, .span12.page-content {
                .pbs-profile-promo {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }   
        }
    }
    @media (min-width: 1024px) {
        body {
            &.studio {
                .span8.page-content, .span12.page-content {
                    .pbs-profile-promo {
                        .og-grid {
                            li, li > a {
                                width: 315px;
                                height: 315px;
                                line-height: 313px;
                            } 
                        }
                    } 
                }
            }
            &:not(.studio) {
                .span12.page-content .pbs-profile-promo {
                    
                    .og-grid {
                        li, li > a {
                            width: 310px;
                            height: 310px;
                            line-height: 308px;
                        } 
                    }
                }
            }
        }
    }
    @media (min-width: 1280px) {
        body {
            &.studio {
                .span8.page-content .pbs-profile-promo {
                    .og-grid {
                        li, li > a {
                            width: 293px;
                            height: 293px;
                            line-height: 291px;
                        } 
                    }
                }
           
                .span12.page-content .pbs-profile-promo {
                    padding-right: 20px;
                    padding-left: 20px;
                    .og-grid {
                        li, li > a {
                            width: 405px;
                            height: 405px;
                            line-height: 403px;
                        } 
                    }    
                }
            }
            &:not(.studio) {
                .span12.page-content .pbs-profile-promo {
                    padding-left: 10px;
                    padding-right: 10px;
                    
                    .og-grid {
                        li, li > a {
                            width: 305px;
                            height: 305px;
                            line-height: 303px;
                        } 
                    }
                }
            }
        }
    }
    @media (width: 1280px) {
        body {
            &.studio {
                .span8.page-content .pbs-profile-promo {
                    .og-grid {
                        li, li > a {
                            width: 290px;
                            height: 290px;
                            line-height: 288px;
                        } 
                    }
                }
           
                .span12.page-content .pbs-profile-promo {
                    padding-right: 20px;
                    padding-left: 20px;
                    .og-grid {
                        li, li > a {
                            width: 390px;
                            height: 390px;
                            line-height: 388px;
                        } 
                    }    
                }
            }
        }
    }
    // IE 11 Hack
    _:-ms-fullscreen, :root .og-grid li > a { 
        display: inline-block;
    }

}
@mixin profilegrid($ns) {
    #{$ns} {
        padding: 40px 20px 0;
        * {
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            moz-box-sizing: border-box;
        }
        h1 {
            color: #464646;
            font-size: 30px;
            line-height: 36px;
            font-weight: normal;
            margin-bottom: 15px;
            word-wrap: break-word;
        }
        .profile-grid-descr {
            color: #222;
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
            word-wrap: break-word;
        }
    }
    @include grid($grid);
    @include overides();
    @include promo();
}

@include profilegrid($namespace)

