/* line 914, ../sass/profilegrid.scss */
.pbs-profile-grid {
  padding: 40px 20px 0;
}
/* line 916, ../sass/profilegrid.scss */
.pbs-profile-grid * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}
/* line 921, ../sass/profilegrid.scss */
.pbs-profile-grid h1 {
  color: #464646;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 15px;
  word-wrap: break-word;
}
/* line 929, ../sass/profilegrid.scss */
.pbs-profile-grid .profile-grid-descr {
  color: #222;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

/* line 4, ../sass/profilegrid.scss */
.og-grid {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;
}
/* line 11, ../sass/profilegrid.scss */
.og-grid li {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 15px;
  vertical-align: top;
  height: 300px;
  width: 300px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 24, ../sass/profilegrid.scss */
.og-grid li:nth-child(4n), .og-grid li:last-child {
  margin-right: 0;
}
/* line 27, ../sass/profilegrid.scss */
.og-grid li > a, .og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
/* line 38, ../sass/profilegrid.scss */
.og-grid li > a {
  background: #efefef;
  height: 300px;
  width: 300px;
  display: table-cell;
  vertical-align: middle;
}
/* line 45, ../sass/profilegrid.scss */
.og-grid li h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(to bottom, rgba(135, 135, 135, 0), rgba(0, 0, 0, 0.74));
  width: 100%;
  padding: 10px;
  font-weight: normal;
  font-size: 20px;
  color: white;
  line-height: 21px;
  margin: 0;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 62, ../sass/profilegrid.scss */
.og-grid li.og-expanded > a::after {
  bottom: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 15px;
  left: 50%;
  margin: 0px 0 -11px -15px;
}
/* line 76, ../sass/profilegrid.scss */
.og-grid .og-expander {
  position: absolute;
  background: #efefef;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}
/* line 87, ../sass/profilegrid.scss */
.og-grid .og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}
@media (max-width: 767px) {
  /* line 87, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding: 30px;
  }
}
@media (max-width: 320px) {
  /* line 87, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding-top: 50px;
  }
}
/* line 97, ../sass/profilegrid.scss */
.og-grid .og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* line 104, ../sass/profilegrid.scss */
.og-grid .og-close::before, .og-grid .og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 116, ../sass/profilegrid.scss */
.og-grid .og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 121, ../sass/profilegrid.scss */
.og-grid .og-close:hover::before, .og-grid .og-close:hover::after {
  background: #333;
}
@media (max-width: 767px) {
  /* line 97, ../sass/profilegrid.scss */
  .og-grid .og-close {
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
    z-index: 10;
  }
}
/* line 133, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper,
.og-grid .og-details,
.og-grid .og-bottom-details {
  width: 48%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 142, ../sass/profilegrid.scss */
.og-grid .og-details,
.og-grid .og-bottom-details {
  height: auto;
}
/* line 146, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper {
  text-align: center;
  height: auto;
  margin-right: 3%;
}
/* line 150, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
/* line 155, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper .og-img-credit {
  font-size: 11px;
  float: left;
  color: #d1d2d4;
  line-height: 16px;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #464646;
}
/* line 172, ../sass/profilegrid.scss */
.og-grid .og-details h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  padding: 0px 0 10px;
  margin-bottom: 10px;
  color: #464646;
}
/* line 180, ../sass/profilegrid.scss */
.og-grid .og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222;
  margin-bottom: 0;
}
/* line 187, ../sass/profilegrid.scss */
.og-grid .og-details a {
  margin-top: 20px;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 35px 15px 15px;
  border: 2px solid #747474;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
/* line 197, ../sass/profilegrid.scss */
.og-grid .og-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  right: 15px;
  font-size: 22px;
  top: 14px;
}
/* line 220, ../sass/profilegrid.scss */
.og-grid .og-bottom-details {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #222;
}
/* line 227, ../sass/profilegrid.scss */
.og-grid .og-bottom-details span {
  display: block;
  margin-bottom: 10px;
}
/* line 231, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a {
  color: #309BC5;
  display: block;
  margin-bottom: 10px;
  padding-right: 20px;
  position: relative;
  text-decoration: none;
}
/* line 238, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  font-size: 20px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  /* line 262, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details {
    width: 100%;
  }
  /* line 265, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper {
    height: auto;
    display: block;
  }
  /* line 269, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details a {
    width: 50%;
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 275, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper,
  .og-grid .og-details,
  .og-grid .og-bottom-details,
  .og-grid .og-bottom-details a {
    width: 100%;
    margin-right: 0;
  }
  /* line 282, ../sass/profilegrid.scss */
  .og-grid .og-details {
    margin-top: 20px;
  }
}
/* line 286, ../sass/profilegrid.scss */
.og-grid .og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}
/* line 300, ../sass/profilegrid.scss */
.og-grid .image-loading {
  -webkit-animation: fadeIn 0.65s ease forwards;
  -moz-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}
@-webkit-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@-moz-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
/* line 348, ../sass/profilegrid.scss */
body:not(.studio) {
  margin-top: 0 !important;
}

@media (min-width: 960px) and (max-width: 1365px) {
  /* line 357, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 285px;
    height: 285px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 357, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 357, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 357, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 285px;
    height: 285px;
    margin-right: 0 !important;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  /* line 379, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 9px;
  }
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 385, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n+1) {
    margin-right: 9px;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 356, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 391, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(4n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(4n),
  .tpl-station .span12.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 394, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}

/* line 407, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
  width: 285px;
  height: 285px;
}
@media (min-width: 1280px) {
  /* line 407, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 275px;
    height: 275px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 407, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 407, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    margin-right: 0 !important;
  }
}
/* line 425, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li:nth-child(3n),
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(3n) {
  margin-right: 0;
}
/* line 428, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li:nth-child(4n),
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
  margin-right: 9px;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  /* line 406, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 433, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(2n+1),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
  /* line 436, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(4n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 406, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 442, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(4n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 445, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(2n+1),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
@media (max-width: 639px) {
  /* line 406, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0 !important;
  }
}
/* line 453, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-fullimg-wrapper,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper {
  width: 45%;
  height: auto;
}
/* line 457, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
  width: 52%;
}
/* line 460, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
  padding-bottom: 20px;
}
/* line 463, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}
@media (max-width: 767px) {
  /* line 468, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid .og-fullimg-wrapper,
  .studio .span8.page-content .og-grid .og-details,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }
}

/* line 481, ../sass/profilegrid.scss */
body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
@media (max-width: 1279px) {
  /* line 483, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    width: 100%;
  }
}
@media (max-width: 960px) {
  /* line 483, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
@media (min-width: 961px) {
  /* line 492, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li {
    margin-right: 8px;
  }
  /* line 494, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 195px;
    height: 195px;
  }
  /* line 499, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
}

/* line 509, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
/* line 511, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 511, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
/* line 518, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
  width: 195px;
  height: 195px;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 518, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 230px;
    height: 230px;
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 518, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 440px;
    height: 440px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 518, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 285px;
    height: 285px;
    margin-right: 0 !important;
  }
}
/* line 538, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
  margin-right: 0;
}
/* line 541, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(4n) {
  margin-right: 9px;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 545, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 548, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
/* line 552, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li h2 {
  font-size: 18px;
  font-weight: 300;
}
/* line 559, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
}
/* line 562, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-fullimg-wrapper {
  height: auto;
}
/* line 565, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}

/* line 573, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
/* line 575, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 575, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
@media (min-width: 970px) and (max-width: 1365px) {
  /* line 582, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 960px) and (max-width: 969px) {
  /* line 582, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 295px;
    height: 295px;
  }
}
@media (min-width: 1280px) {
  /* line 594, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 597, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(4n) {
    margin-right: 9px;
  }
}

/* line 604, ../sass/profilegrid.scss */
body:not(.studio):not(.tpl-producer) .span12.page-content .pbs-profile-grid .span8 {
  padding: 0 20px;
}

/* line 608, ../sass/profilegrid.scss */
.og-expander .og-fullimg {
  background: #efefef;
}
@media (max-width: 767px) {
  /* line 608, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 600px;
    width: 660px;
    max-width: 100%;
    margin: auto;
    line-height: 600px;
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  /* line 608, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 480px;
    width: 540px;
    margin: auto;
    line-height: 480px;
  }
}
@media (max-width: 480px) {
  /* line 608, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 320px;
    width: 380px;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 320px) {
  /* line 608, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 220px;
    width: 320px;
    padding: 0;
    margin: auto;
    line-height: 220px;
  }
}

/* line 638, ../sass/profilegrid.scss */
#og-additems {
  margin: 0 auto 30px;
  width: 150px;
  text-align: center;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 25px;
  border: 2px solid #747474;
  display: block;
  position: relative;
  text-decoration: none;
}

/* line 653, ../sass/profilegrid.scss */
.pbs-profile-promo {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
/* line 658, ../sass/profilegrid.scss */
.pbs-profile-promo h1 {
  background: #F4F4F4;
  padding: 30px 45px;
  color: #5A585A;
  text-transform: capitalize;
  word-wrap: break-word;
}
/* line 666, ../sass/profilegrid.scss */
.pbs-profile-promo .row-fluid + .row-fluid .span12, .pbs-profile-promo .row-fluid + .row-fluid .span8 {
  border-bottom: 1px solid #D1D1D1;
  overflow: hidden;
}
/* line 671, ../sass/profilegrid.scss */
.pbs-profile-promo .og-grid {
  padding: 0;
}
/* line 674, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all {
  margin-top: 10px;
  color: #747474;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-bottom: 15px;
}
/* line 685, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  font-size: 22px;
  float: right;
  margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 959px) {
  /* line 711, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo, body:not(.studio) .span8.page-content .pbs-profile-promo, body:not(.studio) .span12.page-content .pbs-profile-promo {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 715, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 232px;
    height: 232px;
  }
  /* line 720, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n) {
    margin-right: 13px;
  }
  /* line 723, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 734, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 235px;
    height: 235px;
  }
  /* line 739, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
  /* line 742, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 750, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 152px;
    height: 152px;
  }
  /* line 755, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 9px;
  }
  /* line 758, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 771, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 775, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 298px;
    height: 298px;
  }
  /* line 786, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 299px;
    height: 299px;
  }
  /* line 794, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 194px;
    height: 194px;
  }
  /* line 799, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 9px;
  }
  /* line 802, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 960px) {
  /* line 814, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1024px) {
  /* line 827, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 315px;
    height: 315px;
  }
  /* line 839, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 310px;
    height: 310px;
  }
}
@media (min-width: 1280px) {
  /* line 853, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 293px;
    height: 293px;
  }
  /* line 860, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo {
    padding-right: 20px;
    padding-left: 20px;
  }
  /* line 864, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 405px;
    height: 405px;
  }
  /* line 872, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 877, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 305px;
    height: 305px;
  }
}
@media (width: 1280px) {
  /* line 891, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 290px;
    height: 290px;
  }
  /* line 898, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo {
    padding-right: 20px;
    padding-left: 20px;
  }
  /* line 902, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 390px;
    height: 390px;
  }
}
