/* line 1104, ../sass/profilegrid.scss */
.pbs-profile-grid {
  padding: 40px 20px 0;
}
/* line 1106, ../sass/profilegrid.scss */
.pbs-profile-grid * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}
/* line 1111, ../sass/profilegrid.scss */
.pbs-profile-grid h1 {
  color: #464646;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 15px;
  word-wrap: break-word;
}
/* line 1119, ../sass/profilegrid.scss */
.pbs-profile-grid .profile-grid-descr {
  color: #222;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  word-wrap: break-word;
}

/* line 4, ../sass/profilegrid.scss */
.og-grid {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;
}
/* line 11, ../sass/profilegrid.scss */
.og-grid li {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 15px;
  vertical-align: top;
  height: 300px;
  width: 300px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 24, ../sass/profilegrid.scss */
.og-grid li:nth-child(4n), .og-grid li:last-child {
  margin-right: 0;
}
/* line 27, ../sass/profilegrid.scss */
.og-grid li > a, .og-grid li > a img {
  border: none;
  outline: none;
  display: inline-block;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
/* line 38, ../sass/profilegrid.scss */
.og-grid li > a {
  background: #efefef;
  height: 300px;
  width: 300px;
  line-height: 298px;
  display: inline-block;
  vertical-align: middle;
}
/* line 46, ../sass/profilegrid.scss */
.og-grid li h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(to bottom, rgba(135, 135, 135, 0), rgba(0, 0, 0, 0.74));
  width: 100%;
  padding: 10px;
  font-weight: normal;
  font-size: 20px;
  color: white;
  line-height: 21px;
  margin: 0;
  text-align: left;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 64, ../sass/profilegrid.scss */
.og-grid li.og-expanded > a::after {
  bottom: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 15px;
  left: 50%;
  margin: 0px 0 -11px -15px;
}
/* line 78, ../sass/profilegrid.scss */
.og-grid .og-expander {
  position: absolute;
  background: #efefef;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}
/* line 89, ../sass/profilegrid.scss */
.og-grid .og-expander-inner {
  padding: 30px;
  height: auto;
  overflow: hidden;
}
@media (max-width: 767px) {
  /* line 89, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding: 30px;
  }
}
@media (max-width: 320px) {
  /* line 89, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding-top: 50px;
  }
}
/* line 101, ../sass/profilegrid.scss */
.og-grid .og-close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* line 108, ../sass/profilegrid.scss */
.og-grid .og-close::before, .og-grid .og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 120, ../sass/profilegrid.scss */
.og-grid .og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 125, ../sass/profilegrid.scss */
.og-grid .og-close:hover::before, .og-grid .og-close:hover::after {
  background: #333;
}
@media (max-width: 767px) {
  /* line 101, ../sass/profilegrid.scss */
  .og-grid .og-close {
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
    z-index: 10;
  }
}
/* line 137, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper,
.og-grid .og-details,
.og-grid .og-bottom-details {
  width: 48%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 146, ../sass/profilegrid.scss */
.og-grid .og-details,
.og-grid .og-bottom-details {
  height: auto;
  line-height: normal;
}
/* line 151, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper {
  text-align: center;
  height: auto;
  margin-right: 3%;
}
/* line 155, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
/* line 160, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper .og-img-credit {
  font-size: 11px;
  float: left;
  color: #d1d2d4;
  line-height: 16px;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #464646;
}
/* line 178, ../sass/profilegrid.scss */
.og-grid .og-details h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  padding: 0px 0 10px;
  margin-bottom: 10px;
  color: #464646;
  word-wrap: break-word;
}
/* line 187, ../sass/profilegrid.scss */
.og-grid .og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222;
  margin-bottom: 0;
  word-wrap: break-word;
}
/* line 195, ../sass/profilegrid.scss */
.og-grid .og-details a {
  margin-top: 20px;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 35px 15px 15px;
  border: 2px solid #747474;
  display: inline-block;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
  max-width: 100%;
}
/* line 208, ../sass/profilegrid.scss */
.og-grid .og-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  right: 15px;
  font-size: 22px;
  top: 14px;
}
/* line 231, ../sass/profilegrid.scss */
.og-grid .og-bottom-details {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #222;
}
/* line 238, ../sass/profilegrid.scss */
.og-grid .og-bottom-details span {
  display: block;
  margin-bottom: 10px;
  word-break: break-word;
}
/* line 243, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a {
  color: #309BC5;
  display: block;
  margin-bottom: 10px;
  padding-right: 20px;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
}
/* line 252, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  font-size: 20px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  /* line 276, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details {
    width: 100%;
  }
  /* line 279, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper {
    height: auto;
    display: block;
  }
  /* line 283, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details a {
    width: 50%;
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 289, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper,
  .og-grid .og-details,
  .og-grid .og-bottom-details,
  .og-grid .og-bottom-details a {
    width: 100%;
    margin-right: 0;
  }
  /* line 296, ../sass/profilegrid.scss */
  .og-grid .og-details {
    margin-top: 20px;
  }
}
/* line 300, ../sass/profilegrid.scss */
.og-grid .og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}
/* line 314, ../sass/profilegrid.scss */
.og-grid .image-loading {
  -webkit-animation: fadeIn 0.65s ease forwards;
  -moz-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}
@-webkit-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@-moz-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
/* line 362, ../sass/profilegrid.scss */
body:not(.studio) {
  margin-top: 0 !important;
}

/* line 367, ../sass/profilegrid.scss */
body.dark .pbs-profile-grid h1, body.dark .pbs-profile-grid .profile-grid-descr {
  color: white;
}
/* line 371, ../sass/profilegrid.scss */
body.dark #og-additems {
  color: white;
  border-color: white;
}

/* line 382, ../sass/profilegrid.scss */
.studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
.tpl-producer .span12.page-content .og-grid li,
.tpl-producer .span12.page-content .og-grid li > a,
.tpl-station .span12.page-content .og-grid li,
.tpl-station .span12.page-content .og-grid li > a {
  width: 301px;
  height: 301px;
  line-height: 299px;
}
@media (min-width: 1024px) and (max-width: 1279px) {
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 309px;
    height: 309px;
    line-height: 307px;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 298px;
    height: 298px;
    line-height: 297px;
  }
}
@media (min-width: 961px) and (max-width: 1023px) {
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 289px;
    height: 289px;
    line-height: 287px;
  }
}
@media (width: 960px) {
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 298px;
    height: 298px;
    line-height: 296px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
    line-height: 353px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    line-height: 438px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 382, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 285px;
    height: 285px;
    line-height: 283px;
    margin-right: 0 !important;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  /* line 427, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 9px;
  }
  /* line 430, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 433, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n+1) {
    margin-right: 9px;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 381, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 439, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(4n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(4n),
  .tpl-station .span12.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 442, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
/* line 449, ../sass/profilegrid.scss */
.studio .og-expander .og-fullimg,
.tpl-producer .og-expander .og-fullimg,
.tpl-station .og-expander .og-fullimg {
  height: 566px;
  width: 566px;
  max-width: 100%;
  margin: auto;
  line-height: 566px;
  position: relative;
}
@media (max-width: 1024px) and (min-width: 961px) {
  /* line 449, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 428px;
    width: 428px;
    max-width: 100%;
    margin: auto;
    line-height: 428px;
  }
}
@media (max-width: 960px) and (min-width: 769px) {
  /* line 449, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 387px;
    width: 387px;
    max-width: 100%;
    margin: auto;
    line-height: 387px;
  }
}
@media (max-width: 768px) {
  /* line 449, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 320px;
    width: 320px;
    max-width: 100%;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 767px) {
  /* line 449, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 600px;
    width: 660px;
    max-width: 100%;
    margin: auto;
    line-height: 600px;
  }
}
@media (max-width: 640px) {
  /* line 449, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 480px;
    width: 480px;
    margin: auto;
    line-height: 480px;
  }
}
@media (max-width: 480px) {
  /* line 449, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 320px;
    width: 320px;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 320px) {
  /* line 449, ../sass/profilegrid.scss */
  .studio .og-expander .og-fullimg,
  .tpl-producer .og-expander .og-fullimg,
  .tpl-station .og-expander .og-fullimg {
    height: 220px;
    width: 220px;
    padding: 0;
    margin: auto;
    line-height: 220px;
  }
}

/* line 511, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
  width: 309px;
  height: 309px;
  line-height: 307px;
}
@media (min-width: 1280px) {
  /* line 511, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 287px;
    height: 287px;
    line-height: 285px;
  }
}
@media (max-width: 1279px) and (min-width: 1024px) {
  /* line 511, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 309px;
    height: 309px;
    line-height: 307px;
  }
}
@media (min-width: 961px) and (max-width: 1023px) {
  /* line 511, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 289px;
    height: 289px;
    line-height: 287px;
  }
}
@media (width: 960px) {
  /* line 511, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 298px;
    height: 298px;
    line-height: 296px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 511, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
    line-height: 353px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 511, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    line-height: 438px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 511, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 280px;
    height: 280px;
    line-height: 278px;
    margin-right: 0 !important;
  }
}
/* line 556, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li:nth-child(4n),
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
  margin-right: 9px;
}
/* line 559, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li:nth-child(3n),
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(3n) {
  margin-right: 0;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  /* line 510, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 564, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(2n+1),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
  /* line 567, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(4n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 510, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 573, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(4n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 576, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(2n+1),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
@media (max-width: 639px) {
  /* line 510, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0 !important;
  }
}
/* line 584, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-fullimg-wrapper,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper {
  width: 45%;
  height: auto;
}
/* line 588, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
  width: 52%;
  line-height: normal;
}
/* line 592, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
}
/* line 594, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}
@media (max-width: 767px) {
  /* line 599, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid .og-fullimg-wrapper,
  .studio .span8.page-content .og-grid .og-details,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }
}
/* line 609, ../sass/profilegrid.scss */
.studio .span8.page-content .og-expander .og-fullimg,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
  background: #efefef;
  height: 371px;
  position: relative;
}
@media (max-width: 1024px) and (min-width: 961px) {
  /* line 609, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 402px;
    width: 402px;
    max-width: 100%;
    margin: auto;
    line-height: 402px;
  }
}
@media (max-width: 960px) and (min-width: 769px) {
  /* line 609, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 387px;
    width: 387px;
    max-width: 100%;
    margin: auto;
    line-height: 387px;
  }
}
@media (max-width: 768px) {
  /* line 609, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 300px;
    width: 300px;
    max-width: 100%;
    margin: auto;
    line-height: 300px;
  }
}
@media (max-width: 767px) {
  /* line 609, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 600px;
    width: 660px;
    max-width: 100%;
    margin: auto;
    line-height: 600px;
  }
}
@media (max-width: 640px) {
  /* line 609, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 480px;
    width: 480px;
    margin: auto;
    line-height: 480px;
  }
}
@media (max-width: 480px) {
  /* line 609, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 320px;
    width: 320px;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 320px) {
  /* line 609, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-expander .og-fullimg,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-expander .og-fullimg {
    height: 220px;
    width: 220px;
    padding: 0;
    margin: auto;
    line-height: 220px;
  }
}

/* line 666, ../sass/profilegrid.scss */
body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
@media (max-width: 1279px) {
  /* line 668, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    width: 100%;
  }
}
@media (max-width: 960px) {
  /* line 668, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
@media (min-width: 961px) {
  /* line 677, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li {
    margin-right: 8px;
  }
  /* line 679, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 195px;
    height: 195px;
    line-height: 193px;
  }
  /* line 685, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
}

/* line 695, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
/* line 697, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 697, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
/* line 704, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
  width: 195px;
  height: 195px;
  line-height: 193px;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 704, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 230px;
    height: 230px;
    line-height: 228px;
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 704, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 440px;
    height: 440px;
    line-height: 438px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 704, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 285px;
    height: 285px;
    line-height: 283px;
    margin-right: 0 !important;
  }
}
/* line 728, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
  margin-right: 0;
}
/* line 731, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(4n) {
  margin-right: 9px;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 735, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 738, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
/* line 742, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li h2 {
  font-size: 18px;
  font-weight: 300;
}
/* line 749, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
}
/* line 752, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-fullimg-wrapper {
  height: auto;
}
/* line 755, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}

/* line 763, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
/* line 765, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 765, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
@media (min-width: 970px) and (max-width: 1365px) {
  /* line 772, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 300px;
    height: 300px;
    line-height: 298px;
  }
}
@media (min-width: 960px) and (max-width: 969px) {
  /* line 772, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 295px;
    height: 295px;
    line-height: 293px;
  }
}
@media (min-width: 1280px) {
  /* line 786, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 789, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(4n) {
    margin-right: 9px;
  }
}

/* line 796, ../sass/profilegrid.scss */
body:not(.studio):not(.tpl-producer) .span12.page-content .pbs-profile-grid .span8 {
  padding: 0 20px;
}

/* line 800, ../sass/profilegrid.scss */
#og-additems {
  margin: 0 auto 30px;
  width: 150px;
  text-align: center;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 25px;
  border: 2px solid #747474;
  display: block;
  position: relative;
  text-decoration: none;
}
/* line 813, ../sass/profilegrid.scss */
#og-additems:hover {
  background: #747474;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 826, ../sass/profilegrid.scss */
.pbs-profile-promo {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
/* line 831, ../sass/profilegrid.scss */
.pbs-profile-promo h1 {
  background: #F4F4F4;
  padding: 30px 45px;
  color: #5A585A;
  text-transform: capitalize;
  word-wrap: break-word;
}
/* line 839, ../sass/profilegrid.scss */
.pbs-profile-promo .row-fluid + .row-fluid .span12, .pbs-profile-promo .row-fluid + .row-fluid .span8 {
  border-bottom: 1px solid #D1D1D1;
  overflow: hidden;
}
/* line 844, ../sass/profilegrid.scss */
.pbs-profile-promo .og-grid {
  padding: 0;
}
/* line 847, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all {
  margin-top: 10px;
  color: #747474;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-bottom: 15px;
}
/* line 858, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  font-size: 22px;
  float: right;
  margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 959px) {
  /* line 884, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo, body:not(.studio) .span8.page-content .pbs-profile-promo, body:not(.studio) .span12.page-content .pbs-profile-promo {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 888, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 232px;
    height: 232px;
    line-height: 230px;
  }
  /* line 894, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n) {
    margin-right: 13px;
  }
  /* line 897, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 908, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 235px;
    height: 235px;
    line-height: 233px;
  }
  /* line 914, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
  /* line 917, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 925, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 152px;
    height: 152px;
    line-height: 150px;
  }
  /* line 931, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 9px;
  }
  /* line 934, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 947, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 951, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 298px;
    height: 298px;
    line-height: 296px;
  }
  /* line 963, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 299px;
    height: 299px;
    line-height: 297px;
  }
  /* line 972, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 194px;
    height: 194px;
    line-height: 192px;
  }
  /* line 978, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 9px;
  }
  /* line 981, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 960px) {
  /* line 993, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1024px) {
  /* line 1006, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 315px;
    height: 315px;
    line-height: 313px;
  }
  /* line 1019, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 310px;
    height: 310px;
    line-height: 308px;
  }
}
@media (min-width: 1280px) {
  /* line 1034, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 293px;
    height: 293px;
    line-height: 291px;
  }
  /* line 1042, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo {
    padding-right: 20px;
    padding-left: 20px;
  }
  /* line 1046, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 405px;
    height: 405px;
    line-height: 403px;
  }
  /* line 1055, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 1060, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 305px;
    height: 305px;
    line-height: 303px;
  }
}
@media (width: 1280px) {
  /* line 1075, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 290px;
    height: 290px;
    line-height: 288px;
  }
  /* line 1083, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo {
    padding-right: 20px;
    padding-left: 20px;
  }
  /* line 1087, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 390px;
    height: 390px;
    line-height: 388px;
  }
}
/* line 1098, ../sass/profilegrid.scss */
_:-ms-fullscreen, :root .og-grid li > a {
  display: inline-block;
}
