/* line 924, ../sass/profilegrid.scss */
.pbs-profile-grid {
  padding: 40px 20px 0;
}
/* line 926, ../sass/profilegrid.scss */
.pbs-profile-grid * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}
/* line 931, ../sass/profilegrid.scss */
.pbs-profile-grid h1 {
  color: #464646;
  font-size: 30px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 15px;
  word-wrap: break-word;
}
/* line 939, ../sass/profilegrid.scss */
.pbs-profile-grid .profile-grid-descr {
  color: #222;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  word-wrap: break-word;
}

/* line 4, ../sass/profilegrid.scss */
.og-grid {
  list-style: none;
  padding: 30px 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: relative;
}
/* line 11, ../sass/profilegrid.scss */
.og-grid li {
  display: inline-block;
  margin-right: 9px;
  margin-bottom: 15px;
  vertical-align: top;
  height: 300px;
  width: 300px;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 24, ../sass/profilegrid.scss */
.og-grid li:nth-child(4n), .og-grid li:last-child {
  margin-right: 0;
}
/* line 27, ../sass/profilegrid.scss */
.og-grid li > a, .og-grid li > a img {
  border: none;
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
/* line 38, ../sass/profilegrid.scss */
.og-grid li > a {
  background: #efefef;
  height: 300px;
  width: 300px;
  display: inline-flex;
  vertical-align: middle;
}
/* line 45, ../sass/profilegrid.scss */
.og-grid li h2 {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(to bottom, rgba(135, 135, 135, 0), rgba(0, 0, 0, 0.74));
  width: 100%;
  padding: 10px;
  font-weight: normal;
  font-size: 20px;
  color: white;
  line-height: 21px;
  margin: 0;
  text-align: left;
  word-wrap: break-word;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 63, ../sass/profilegrid.scss */
.og-grid li.og-expanded > a::after {
  bottom: 0;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #efefef;
  border-width: 15px;
  left: 50%;
  margin: 0px 0 -11px -15px;
}
/* line 77, ../sass/profilegrid.scss */
.og-grid .og-expander {
  position: absolute;
  background: #efefef;
  top: auto;
  left: 0;
  width: 100%;
  margin-top: 10px;
  text-align: left;
  height: 0;
  overflow: hidden;
}
/* line 88, ../sass/profilegrid.scss */
.og-grid .og-expander-inner {
  padding: 50px 30px;
  height: 100%;
}
@media (max-width: 767px) {
  /* line 88, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding: 30px;
  }
}
@media (max-width: 320px) {
  /* line 88, ../sass/profilegrid.scss */
  .og-grid .og-expander-inner {
    padding-top: 50px;
  }
}
/* line 98, ../sass/profilegrid.scss */
.og-grid .og-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
/* line 105, ../sass/profilegrid.scss */
.og-grid .og-close::before, .og-grid .og-close::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: #888;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 117, ../sass/profilegrid.scss */
.og-grid .og-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 122, ../sass/profilegrid.scss */
.og-grid .og-close:hover::before, .og-grid .og-close:hover::after {
  background: #333;
}
@media (max-width: 767px) {
  /* line 98, ../sass/profilegrid.scss */
  .og-grid .og-close {
    height: 30px;
    width: 30px;
    top: 15px;
    right: 15px;
    z-index: 10;
  }
}
/* line 134, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper,
.og-grid .og-details,
.og-grid .og-bottom-details {
  width: 48%;
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
}
/* line 143, ../sass/profilegrid.scss */
.og-grid .og-details,
.og-grid .og-bottom-details {
  height: auto;
}
/* line 147, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper {
  text-align: center;
  height: auto;
  margin-right: 3%;
}
/* line 151, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}
/* line 156, ../sass/profilegrid.scss */
.og-grid .og-fullimg-wrapper .og-img-credit {
  font-size: 11px;
  float: left;
  color: #d1d2d4;
  line-height: 16px;
  text-align: left;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 100;
  width: 100%;
  word-wrap: break-word;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid #464646;
}
/* line 174, ../sass/profilegrid.scss */
.og-grid .og-details h3 {
  font-weight: 300;
  font-size: 30px;
  line-height: 41px;
  padding: 0px 0 10px;
  margin-bottom: 10px;
  color: #464646;
  word-wrap: break-word;
}
/* line 183, ../sass/profilegrid.scss */
.og-grid .og-details p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #222;
  margin-bottom: 0;
  word-wrap: break-word;
}
/* line 191, ../sass/profilegrid.scss */
.og-grid .og-details a {
  margin-top: 20px;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 35px 15px 15px;
  border: 2px solid #747474;
  display: inline-block;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
  max-width: 100%;
}
/* line 204, ../sass/profilegrid.scss */
.og-grid .og-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  right: 15px;
  font-size: 22px;
  top: 14px;
}
/* line 227, ../sass/profilegrid.scss */
.og-grid .og-bottom-details {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  padding-top: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #222;
}
/* line 234, ../sass/profilegrid.scss */
.og-grid .og-bottom-details span {
  display: block;
  margin-bottom: 10px;
  word-break: break-word;
}
/* line 239, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a {
  color: #309BC5;
  display: block;
  margin-bottom: 10px;
  padding-right: 20px;
  position: relative;
  text-decoration: none;
  word-wrap: break-word;
}
/* line 248, ../sass/profilegrid.scss */
.og-grid .og-bottom-details a:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  position: absolute;
  font-size: 20px;
  margin-left: 10px;
}
@media (max-width: 768px) {
  /* line 272, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details {
    width: 100%;
  }
  /* line 275, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper {
    height: auto;
    display: block;
  }
  /* line 279, ../sass/profilegrid.scss */
  .og-grid .og-bottom-details a {
    width: 50%;
    float: left;
  }
}
@media (max-width: 767px) {
  /* line 285, ../sass/profilegrid.scss */
  .og-grid .og-fullimg-wrapper,
  .og-grid .og-details,
  .og-grid .og-bottom-details,
  .og-grid .og-bottom-details a {
    width: 100%;
    margin-right: 0;
  }
  /* line 292, ../sass/profilegrid.scss */
  .og-grid .og-details {
    margin-top: 20px;
  }
}
/* line 296, ../sass/profilegrid.scss */
.og-grid .og-loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #efefef;
  box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  -webkit-animation: loader 0.5s infinite ease-in-out both;
  -moz-animation: loader 0.5s infinite ease-in-out both;
  animation: loader 0.5s infinite ease-in-out both;
}
/* line 310, ../sass/profilegrid.scss */
.og-grid .image-loading {
  -webkit-animation: fadeIn 0.65s ease forwards;
  -moz-animation: fadeIn 0.65s ease forwards;
  animation: fadeIn 0.65s ease forwards;
}
@-webkit-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@-moz-keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
@keyframes loader {
  0% {
    background: #efefef;
  }
  33% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #efefef;
  }
  66% {
    background: #ccc;
    box-shadow: 0 0 1px #ccc, 15px 30px 1px #efefef, -15px 30px 1px #ccc;
  }
}
/* line 358, ../sass/profilegrid.scss */
body:not(.studio) {
  margin-top: 0 !important;
}

@media (min-width: 960px) and (max-width: 1365px) {
  /* line 367, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 285px;
    height: 285px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 367, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 367, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 367, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li, .studio .span12.page-content .og-grid li > a,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li > a,
  .tpl-station .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li > a {
    width: 285px;
    height: 285px;
    margin-right: 0 !important;
  }
}
@media (min-width: 960px) and (max-width: 1279px) {
  /* line 389, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 9px;
  }
  /* line 392, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 395, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(3n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(3n+1) {
    margin-right: 9px;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 366, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li,
  .tpl-producer .span12.page-content .og-grid li,
  .tpl-station .span12.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 401, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(4n),
  .tpl-producer .span12.page-content .og-grid li:nth-child(4n),
  .tpl-station .span12.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 404, ../sass/profilegrid.scss */
  .studio .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-producer .span12.page-content .og-grid li:nth-child(2n+1),
  .tpl-station .span12.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}

/* line 417, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
  width: 285px;
  height: 285px;
}
@media (min-width: 1280px) {
  /* line 417, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 275px;
    height: 275px;
  }
}
@media (min-width: 768px) and (max-width: 959px) {
  /* line 417, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 355px;
    height: 355px;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 417, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li, .studio .span8.page-content .og-grid li > a,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li > a {
    width: 440px;
    height: 440px;
    margin-right: 0 !important;
  }
}
/* line 435, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li:nth-child(3n),
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(3n) {
  margin-right: 0;
}
/* line 438, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid li:nth-child(4n),
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
  margin-right: 9px;
}
@media (min-width: 1025px) and (max-width: 1279px) {
  /* line 416, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 443, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(2n+1),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
  /* line 446, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(4n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
}
@media (min-width: 640px) and (max-width: 959px) {
  /* line 416, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0;
  }
  /* line 452, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(4n),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 455, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li:nth-child(2n+1),
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
@media (max-width: 639px) {
  /* line 416, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid li,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid li {
    margin-right: 0 !important;
  }
}
/* line 463, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-fullimg-wrapper,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper {
  width: 45%;
  height: auto;
}
/* line 467, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
  width: 52%;
}
/* line 470, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
  padding-bottom: 20px;
}
/* line 473, ../sass/profilegrid.scss */
.studio .span8.page-content .og-grid .og-bottom-details a,
body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}
@media (max-width: 767px) {
  /* line 478, ../sass/profilegrid.scss */
  .studio .span8.page-content .og-grid .og-fullimg-wrapper,
  .studio .span8.page-content .og-grid .og-details,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-fullimg-wrapper,
  body.tpl-station:not(.tpl-producer) .span8.page-content .og-grid .og-details {
    width: 100%;
    margin-right: 0;
    padding-bottom: 0;
  }
}

/* line 491, ../sass/profilegrid.scss */
body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
@media (max-width: 1279px) {
  /* line 493, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    width: 100%;
  }
}
@media (max-width: 960px) {
  /* line 493, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
@media (min-width: 961px) {
  /* line 502, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li {
    margin-right: 8px;
  }
  /* line 504, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 195px;
    height: 195px;
  }
  /* line 509, ../sass/profilegrid.scss */
  body.tpl-station:not(.tpl-producer):not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
}

/* line 519, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
/* line 521, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 521, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
/* line 528, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
  width: 195px;
  height: 195px;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 528, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 230px;
    height: 230px;
    margin-right: 0;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 528, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 440px;
    height: 440px;
    margin-right: 0 !important;
  }
}
@media (max-width: 479px) {
  /* line 528, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li, body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li > a {
    width: 285px;
    height: 285px;
    margin-right: 0 !important;
  }
}
/* line 548, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(3n) {
  margin-right: 0;
}
/* line 551, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(4n) {
  margin-right: 9px;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 555, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(4n) {
    margin-right: 0;
  }
  /* line 558, ../sass/profilegrid.scss */
  body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
}
/* line 562, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .pbs-profile-grid li h2 {
  font-size: 18px;
  font-weight: 300;
}
/* line 569, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details {
  width: 100%;
}
/* line 572, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-fullimg-wrapper {
  height: auto;
}
/* line 575, ../sass/profilegrid.scss */
body.tpl-producer:not(.studio) .span8.page-content .og-grid .og-bottom-details a {
  width: 50%;
  float: left;
}

/* line 583, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid {
  padding: 40px 0 0;
}
/* line 585, ../sass/profilegrid.scss */
body:not(.studio) .span12.page-content .pbs-profile-grid .span8 {
  width: 100%;
}
@media (max-width: 767px) {
  /* line 585, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid .span8 {
    padding: 0 20px;
  }
}
@media (min-width: 970px) and (max-width: 1365px) {
  /* line 592, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 960px) and (max-width: 969px) {
  /* line 592, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li, body:not(.studio) .span12.page-content .pbs-profile-grid li > a {
    width: 295px;
    height: 295px;
  }
}
@media (min-width: 1280px) {
  /* line 604, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 607, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-grid li:nth-child(4n) {
    margin-right: 9px;
  }
}

/* line 614, ../sass/profilegrid.scss */
body:not(.studio):not(.tpl-producer) .span12.page-content .pbs-profile-grid .span8 {
  padding: 0 20px;
}

/* line 618, ../sass/profilegrid.scss */
.og-expander .og-fullimg {
  background: #efefef;
}
@media (max-width: 767px) {
  /* line 618, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 600px;
    width: 660px;
    max-width: 100%;
    margin: auto;
    line-height: 600px;
    padding: 0 30px;
  }
}
@media (max-width: 640px) {
  /* line 618, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 480px;
    width: 540px;
    margin: auto;
    line-height: 480px;
  }
}
@media (max-width: 480px) {
  /* line 618, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 320px;
    width: 380px;
    margin: auto;
    line-height: 320px;
  }
}
@media (max-width: 320px) {
  /* line 618, ../sass/profilegrid.scss */
  .og-expander .og-fullimg {
    height: 220px;
    width: 320px;
    padding: 0;
    margin: auto;
    line-height: 220px;
  }
}

/* line 648, ../sass/profilegrid.scss */
#og-additems {
  margin: 0 auto 30px;
  width: 150px;
  text-align: center;
  color: #747474;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 25px;
  border: 2px solid #747474;
  display: block;
  position: relative;
  text-decoration: none;
}

/* line 663, ../sass/profilegrid.scss */
.pbs-profile-promo {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
}
/* line 668, ../sass/profilegrid.scss */
.pbs-profile-promo h1 {
  background: #F4F4F4;
  padding: 30px 45px;
  color: #5A585A;
  text-transform: capitalize;
  word-wrap: break-word;
}
/* line 676, ../sass/profilegrid.scss */
.pbs-profile-promo .row-fluid + .row-fluid .span12, .pbs-profile-promo .row-fluid + .row-fluid .span8 {
  border-bottom: 1px solid #D1D1D1;
  overflow: hidden;
}
/* line 681, ../sass/profilegrid.scss */
.pbs-profile-promo .og-grid {
  padding: 0;
}
/* line 684, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all {
  margin-top: 10px;
  color: #747474;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: inline-block;
  text-decoration: none;
  float: right;
  margin-bottom: 15px;
}
/* line 695, ../sass/profilegrid.scss */
.pbs-profile-promo .profile-promo-all:after {
  content: "\f105";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat;
  margin-top: 0;
  font-size: 22px;
  float: right;
  margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 959px) {
  /* line 721, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo, body:not(.studio) .span8.page-content .pbs-profile-promo, body:not(.studio) .span12.page-content .pbs-profile-promo {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 725, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 232px;
    height: 232px;
  }
  /* line 730, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n), body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n) {
    margin-right: 13px;
  }
  /* line 733, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body.studio .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n), body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 744, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 235px;
    height: 235px;
  }
  /* line 749, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 13px;
  }
  /* line 752, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
  /* line 760, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 152px;
    height: 152px;
  }
  /* line 765, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 9px;
  }
  /* line 768, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (min-width: 960px) and (max-width: 1023px) {
  /* line 781, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo {
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 785, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 298px;
    height: 298px;
  }
  /* line 796, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 299px;
    height: 299px;
  }
  /* line 804, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 194px;
    height: 194px;
  }
  /* line 809, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(2n+1) {
    margin-right: 9px;
  }
  /* line 812, ../sass/profilegrid.scss */
  body:not(.studio) .span8.page-content .pbs-profile-promo .og-grid li:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 960px) {
  /* line 824, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo, body.studio .span12.page-content .pbs-profile-promo {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1024px) {
  /* line 837, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a, body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 315px;
    height: 315px;
  }
  /* line 849, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 310px;
    height: 310px;
  }
}
@media (min-width: 1280px) {
  /* line 863, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 293px;
    height: 293px;
  }
  /* line 870, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo {
    padding-right: 20px;
    padding-left: 20px;
  }
  /* line 874, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 405px;
    height: 405px;
  }
  /* line 882, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo {
    padding-left: 10px;
    padding-right: 10px;
  }
  /* line 887, ../sass/profilegrid.scss */
  body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li, body:not(.studio) .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 305px;
    height: 305px;
  }
}
@media (width: 1280px) {
  /* line 901, ../sass/profilegrid.scss */
  body.studio .span8.page-content .pbs-profile-promo .og-grid li, body.studio .span8.page-content .pbs-profile-promo .og-grid li > a {
    width: 290px;
    height: 290px;
  }
  /* line 908, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo {
    padding-right: 20px;
    padding-left: 20px;
  }
  /* line 912, ../sass/profilegrid.scss */
  body.studio .span12.page-content .pbs-profile-promo .og-grid li, body.studio .span12.page-content .pbs-profile-promo .og-grid li > a {
    width: 390px;
    height: 390px;
  }
}
