{% load sekizai_tags %}
{% addtoblock "css" %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_profile/css/profilegrid.css" />
{% endaddtoblock %}
{% addtoblock "js" %}
	<script src="{{ STATIC_URL }}cmsplugin_profile/js/profilegrid.js"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				Grid.init();
			});
	</script>
{% endaddtoblock %}
<section class="pbs-profile-grid">
	<div class="row-fluid">
    <div class="span8">
  		<h1>{{ profilegrid.title|escapejs }}</h1>
  		<p class="profile-grid-descr">{{ profilegrid.description }}</p>
    </div>
  </div>
	<div class="row-fluid">
    <div class="span12">
			<ul id="og-grid" class="og-grid">
				<li>
					<a href="#" data-largesrc="{{ STATIC_URL }}cmsplugin_profile/images/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot." data-calltoactiontext="Learn more about it" data-additionallinkslabel="More links" data-addlinktext-a="See more" data-addlinkurl-a="http://www.google.com">
						<img src="{{ STATIC_URL }}cmsplugin_profile/images/thumbs/barbara.png" alt="img01"/>
						<h2>Meet Azuki bean</h2>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
