{% load sekizai_tags filertags %}
{% addtoblock "css" %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_profile/css/profilegrid.css" />
{% endaddtoblock %}
{% addtoblock "js" %}
	<script src="{{ STATIC_URL }}cmsplugin_profile/js/profilegrid.js"></script>
	<script type="text/javascript">
			$(document).ready(function(){
				Grid.init();
				
				//Load more profiles
				$('#og-additems').on( 'click', function(e) {
					e.preventDefault();

					var self = $(this),
						hash = self.data('loadedpages') + 1;
						url = '/cmsplugin_profile/{{profilegrid.id}}/view_profiles/?page='+ hash +'&max_results=12';
					items = '';

					jQuery.ajax({
		                url: url,
		                success: function(response) {
		                	if (!response.has_more) {
		                   		self.hide();
		                   	}

		                   	var profiles = response.profiles;
		                   	
		                   	$.each(profiles, function(){
		                   		var profile = $(this).get(0);
		                   		var links = profile.links;

		                   		items += '<li><a href="' + profile.call_to_action_url +'" '+
												'data-largesrc="' + profile.detail_image+ '" ' +
												'data-largeimg-credit="' + profile.image_credit + '" ' +
												'data-title="' + profile.title + '" ' +
												'data-description="' + profile.description +'" ' +
												'data-callToActionText="' + profile.call_to_action_text+ '" ' +
												'data-additionallinkslabel="' + profile.additional_links_label + '" ';

								$.each(links, function(idx, link){
									items +=	'data-addlinktext' + (idx+1) + '="' + link.text + '" ' + 
											  	'data-addlinkurl' + (idx+1) + '="' + link.url + '" ' +
											  	'data-addlinktarget' + (idx+1) + '="' + link.target + '"';
								});
								items += '>';
								items += '<img src="' + profile.thumbnail_image + '" alt="' + profile.title + '"/>';
							
								{% if profilegrid.show_title_on_thumbnails %}
								items += '<h2>' + profile.title + '</h2>';
								{% endif %}

								items += '</a></li>';
		                   	});
							items = $(items);

							items.appendTo( $( '#og-grid' )).addClass('image-loading');
								
							Grid.addItems( items );
							self.data().loadedpages++;
			            },
			            error: function(response) {},
			        });
				});
			});
	</script>
{% endaddtoblock %}
<section class="pbs-profile-grid">
	<div class="row-fluid">
	    <div class="span8">
	  		<h1>{{ profilegrid.title|escapejs }}</h1>
	  		<p class="profile-grid-descr">{{ profilegrid.description }}</p>
	    </div>
  	</div>
	<div class="row-fluid">
	    <div class="span12">
			<ul id="og-grid" class="og-grid">
	    	{% for profile in profiles|slice:":12" %}
					<li>
						<a href="{{profile.call_to_action_url}}" 
							data-largesrc="{{profile.detail_image|filerfile}}" 
							data-largeimg-credit="{{profile.image_credit}}"
							data-title="{{profile.title}}" 
							data-description="{{profile.description}}" 
							data-callToActionText="{{profile.call_to_action_text}}" 
							data-additionallinkslabel="{{profile.additional_links_label}}" 
							{% for link in profile.links %}
							data-addlinktext{{forloop.counter}}="{{link.text}}" data-addlinkurl{{forloop.counter}}="{{link.url}}" data-addlinktarget{{forloop.counter}}="{{link.target}}"
							{% endfor %}>
							<img src="{{profile.thumbnail_image|filerfile}}" alt="{{profile.title}}"/>
							{% if profilegrid.show_title_on_thumbnails %}<h2>{{profile.title}}</h2> {% endif %}
						</a>
					</li>
			{% endfor %}
			</ul>
			{% if profiles|length > 12 %}
				{% if profilegrid.load_mode_type == 'load_mode_button' %}
					<a id="og-additems" href="#" data-loadedpages="1">Load more</a>
				{% else %}
					<a id="og-additems" href="#" data-loadedpages="1" style="display: none;"></a>
					{% addtoblock "js" %}
						<script type="text/javascript">
						$(document).ready(function(){
							// console.log($('#og-additems').offset().top);
							// console.log(window.scrollY);
						});
						</script>
					{% endaddtoblock %}
				{% endif %}
			{% endif %}
		</div>
	</div>
</section>
