{% load sekizai_tags filertags profile_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_profile/css/profilegrid.css" />
{% endaddtoblock %}

{% current_timestamp as rnd %}

{% addtoblock "js" %}
<script src="{{ STATIC_URL }}cmsplugin_profile/js/jquery.debouncedresize.js"></script>
<script src="{{ STATIC_URL }}cmsplugin_profile/js/jquery.imagesloaded.js"></script>
<script src="{{ STATIC_URL }}cmsplugin_profile/js/profilegrid.js"></script>
<script type="text/javascript">
(function($, PBS){
    PBS = PBS || {};
    PBS.snippets = PBS.snippets || {};

    $(document).ready(function(){
        var id = 'profile_grid{{ rnd }}' ;

        PBS.snippets[id] = new PBS.ProfileGrid({
            snippet: $('#' + id),
        })
        PBS.snippets[id].init();

        function htmlEntities(str) {
            return String(str).replace(/</g, '&lt;').replace(/>/g,'&gt;').replace(/"/g, '&quot;').replace(/'/g, '&apos;');
        }

        //Load more profiles
        $('#og-additems').on( 'click', function(e) {
            e.preventDefault();

            var self = $(this),
                hash = self.data('loadedpages') + 1;
                url = '/cmsplugin_profile/{{profilegrid.id}}/view_profiles/?page='+ hash +'&max_results=12';
            items = '';

            jQuery.ajax({
                url: url,
                success: function(response) {
                    if (!response.has_more) {
                        self.remove();
                    }

                    var profiles = response.profiles;

                    $.each(profiles, function(){
                        var profile = $(this).get(0);
                        var links = profile.links;

                        items += '<li><a href="' + htmlEntities(profile.call_to_action_url) +'" '+
                                        'data-largesrc="' + htmlEntities(profile.detail_image) + '" ' +
                                        'data-largeimg-credit="' + htmlEntities(profile.image_credit) + '" ' +
                                        'data-title="' + htmlEntities(profile.title) + '" ' +
                                        'data-description="' + htmlEntities(profile.description) +'" ' +
                                        'data-callToActionText="' + htmlEntities(profile.call_to_action_text) + '" ' +
                                        'data-additionallinkslabel="' + htmlEntities(profile.additional_links_label) + '" ';

                        $.each(links, function(idx, link){
                            items +=    'data-addlinktext' + (idx+1) + '="' + htmlEntities(link.text) + '" ' +
                                        'data-addlinkurl' + (idx+1) + '="' + htmlEntities(link.url) + '" ' +
                                        'data-addlinktarget' + (idx+1) + '="' + link.target + '"';
                        });
                        items += '>';
                        items += '<img src="' + profile.thumbnail_image + '" alt="' + htmlEntities(profile.title) + '"/>';

                        {% if profilegrid.show_title_on_thumbnails %}
                        items += '<h2>' + htmlEntities(profile.title) + '</h2>';
                        {% endif %}

                        items += '</a></li>';
                    });
                    items = $(items);

                    items.appendTo($('#' + id)).addClass('image-loading');

                    PBS.snippets[id].addItems( items );
                    self.data().loadedpages++;
                    $(window).data('ajaxready', true);

                },
                error: function(response) {},
            });
        });
    });
})(jQuery, PBS);

</script>
{% endaddtoblock %}
<section class="pbs-profile-grid">
    <div class="row-fluid">
        <div class="span8">
            <h1>{{ profilegrid.title|escape }}</h1>
            <p class="profile-grid-descr">{{ profilegrid.description }}</p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <ul id="profile_grid{{ rnd }}" class="og-grid">
            {% for profile in profiles|slice:":12" %}
                    <li>
                        <a href="{{profile.call_to_action_url|escape}}"
                            data-largesrc="{{profile.detail_image|filerfile}}"
                            data-largeimg-credit="{{profile.image_credit|escape}}"
                            data-title="{{profile.title|escape}}"
                            data-description="{{profile.description|escape}}"
                            data-callToActionText="{{profile.call_to_action_text|escape}}"
                            data-additionallinkslabel="{{profile.additional_links_label|escape}}"
                            {% for link in profile.links %}
                            data-addlinktext{{forloop.counter}}="{{link.text|escapejs}}" data-addlinkurl{{forloop.counter}}="{{link.url|escape}}" data-addlinktarget{{forloop.counter}}="{{link.target|escape}}"
                            {% endfor %}>
                            <img src="{{profile.thumbnail_image|filerfile}}" alt="{{profile.title}}"/>
                            {% if profilegrid.show_title_on_thumbnails %}<h2>{{profile.title}}</h2> {% endif %}
                        </a>
                    </li>
            {% endfor %}
            </ul>
            {% if profiles|length > 12 %}
                {% if profilegrid.load_mode_type == 'load_mode_button' %}
                    <a id="og-additems" href="#" data-loadedpages="1">Load more</a>
                {% else %}
                    <a id="og-additems" href="#" data-loadedpages="1" style="visibility:hidden;"></a>
                    {% addtoblock "js" %}
                        <script type="text/javascript">
                            $.fn.isOnScreen = function(bufferHeight){

                                var win = $(window);

                                var viewport = {
                                    top : win.scrollTop(),
                                };
                                viewport.bottom = viewport.top + win.height() + bufferHeight;

                                var bounds = this.offset();
                                bounds.bottom = bounds.top + this.outerHeight();

                                return (!(viewport.bottom < bounds.top || viewport.top > bounds.bottom));

                            };
                        $(document).ready(function(){
                            $(window).scroll(function () {
                                if ($(window).data('ajaxready') === false) {
                                    return;
                                }

                                var button = $('#og-additems');
                                // we set a buffer so that the user does not see the loading effect
                                var bufferHeight = 300;
                                
                                if ( button.length ) {

                                    if (button.isOnScreen(bufferHeight)) {
                                        $(window).data('ajaxready', false);
                                        button.trigger("click");

                                    }
                                }
                            })
                        });
                        </script>
                    {% endaddtoblock %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
