{% load i18n admin_static %}
{% spaceless %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}
	<ul id='{{ inline_admin_formset.formset.prefix }}-group-grid'>

		{% for inline_admin_form in inline_admin_formset %}
		{% with form=inline_admin_form.form %}
		{% include "admin/profile/profile_form.html" %}
		{% endwith %}
		{% endfor %}
<a class="add-row " id="add_new_profile" href="javascript:void(0)">
<span class="add-btn ace-icon fa fa-plus" unselectable="on"></span>
<span class="add-text" unselectable="on">Add new profile</span>
</a>
</ul>
</div>

<script type="text/javascript">
(function($) {
	$(document).ready(function() {
		$("#add_new_profile").click(function(e) {
			console.log("click");
			children = $('#profile_set-group-grid li').children();
			jQuery.ajax({
				url: '/cmsplugin_profile/new_profile/'+children.length+'/',
				success: function (response) {
					$('#profile_set-group-grid').append(response);
				},
				error: function (response) {
				}
			});
		})
	})
})(jQuery || django.jQuery);
</script>


{% endspaceless %}
