{% load i18n admin_static %}
{% spaceless %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}
	<div id='{{ inline_admin_formset.formset.prefix }}-group-grid' class="grid-list">

		{% for inline_admin_form in inline_admin_formset %}
		{% include "admin/profile/profile_form.html" with form=inline_admin_form.form %}
		{% endfor %}
		<div class="add-new-profile-btn">
			<a class="add-row" id="add_new_profile" href="#">
				<span class="add-btn ace-icon fa fa-plus" unselectable="on"></span>
				<span class="add-text" unselectable="on">Add new profile</span>
			</a>
		</div>
		<div class="new-profile-form"></div>
	</div>
	<div class="overlay"></div>
</div>
{% endspaceless %}
