{% extends "admin/cms/page/plugin_change_form.html" %}

{% block fieldsets %}

{{ block.super }}
<div id="warning_maximum_selection" class="alert alert-warning"> {{ adminform.form.maximum_selection }} featured profiles left to add.</div>

<div class="inline-group" id="profile_set-group">
<div class="grid-list ui-sortable" id="profile_set-group-grid">
	{% for profile, selected in adminform.form.all_profiles %}
	<div class="ui-widget inline-related ui-sortable-handle {% if profile.thumbnail_image.url %} complete {%endif%}"
		id="id_profile-{{ profile.id }}"
		{% if profile.thumbnail_image.url %}style="background: #efefef url('{{ profile.thumbnail_image.url }}') no-repeat center;background-size: contain;"{% endif %}>
		<div class="profile-item-actions">
			<a class="select-profile-item {% if selected %}selected{% endif %}" data-profile-id="{{profile.id}}" href="#"><span class="inline-edit ace-icon fa fa-check" unselectable="on"></span></a>
		</div>
	</div>
	{% endfor %}
</div>
</div>


<script type="text/javascript">
(function($) {
	var maximum_selection = {{adminform.form.maximum_selection}};

	$(document).ready(function() {
		var profileSelect = $("#id_profile_plugin");
		profileSelect.change(function(e) {
			grid_id = profileSelect[0].value;
			window.location = window.location.pathname + "?profile_grid=" + grid_id;
			
		});
		if ($('#profile_set-group-grid').children().length) {
			console.log($('#profile_set-group-grid').children().length);
			profileSelect.closest('fieldset').next().show();
			$('#warning_maximum_selection').show();
		}
		togglePromoProfile();

		$('#profilepromogrid_form').find('input[type="text"]').each(function () {
	        $(this).inputlimiter({
	            remText: '%n character%s left. ',
	            limitText: '%n character%s limit.',
	            limitTextShow: false,
	            remTextHideOnBlur: false,
	        });
	    });
	});

	function show_maximum_profiles_warning(show, number) {
		if(show) {
			$("#warning_maximum_selection").html('<strong>Promo grid complete!</strong> Deselect a profile if you want to select a different one.').removeClass('alert-warning').addClass('alert-success');
		} else {
			var canSelect = {{ adminform.form.maximum_selection }} - number;
			$("#warning_maximum_selection").html(canSelect +' featured profile(s) left to add.').addClass('alert-warning').removeClass('alert-success');
		}
	}
	function togglePromoProfile() {

		profile_id = $(this).attr("data-profile-id") + "";
		input = $("#id_profiles_field");
		input_value = input[0].value;
		if (input_value == "") {
			selected_ids = [];
		} else {
			selected_ids = input_value.split(",");
		}
		index_of_id = selected_ids.indexOf(profile_id);
		if (index_of_id === -1) {
			if (selected_ids.length >= maximum_selection) {
				show_maximum_profiles_warning(true);
				$('.select-profile-item:not(.selected)').addClass('disabled');
			} else {
				selected_ids.push(profile_id);
				$(this).addClass("selected");
				if (selected_ids.length == maximum_selection) {
					show_maximum_profiles_warning(true);
					$('.select-profile-item:not(.selected)').addClass('disabled');
				}
			}
		} else {
			$('.select-profile-item:not(.selected)').removeClass('disabled');
			$(this).removeClass("selected");
			show_maximum_profiles_warning(false, selected_ids.length);
		}
	}
	$(document).on('click', '.select-profile-item', function(e) {
		e.preventDefault();
		profile_id = $(this).attr("data-profile-id") + "";
		input = $("#id_profiles_field");
		input_value = input[0].value;
		if (input_value == "") {
			selected_ids = [];
		} else {
			selected_ids = input_value.split(",");
		}
		index_of_id = selected_ids.indexOf(profile_id);
		if (index_of_id === -1) {
			if (selected_ids.length >= maximum_selection) {
				show_maximum_profiles_warning(true);
				$('.select-profile-item:not(.selected)').addClass('disabled');
			} else {
				selected_ids.push(profile_id);
				input[0].value = selected_ids.join(",");
				$(this).addClass("selected");
				if (selected_ids.length == maximum_selection) {
					show_maximum_profiles_warning(true);
					$('.select-profile-item:not(.selected)').addClass('disabled');
				}
				else {
					show_maximum_profiles_warning(false, selected_ids.length );
				}
			}
		} else {
			selected_ids.splice(index_of_id, 1);
			input[0].value = selected_ids.join(",");
			$('.select-profile-item:not(.selected)').removeClass('disabled');
			$(this).removeClass("selected");
			show_maximum_profiles_warning(false, selected_ids.length );
		}		
    });

})(jQuery || django.jQuery);
</script>

{% endblock %}
