{% with instance=form.instance %}
<div class="ui-widget inline-related{% if forloop.last %} empty-form last-related{% endif %}{% if instance.thumbnail_image.url %} complete {%endif%}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}" {% if instance.thumbnail_image.url %}style="background: #efefef url('{{ instance.thumbnail_image.url }}') no-repeat center;background-size: contain;"{% endif %}>
  <div>
  	<h4 class="header smaller lighter blue block">Profile Entry</h4>
	{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

	{% for field in form %}
	{% if field == form.ORDER %}
	<div style="display:none" class="order_field">
		{{ form.ORDER }}
	</div>
	{% elif field != form.profile_plugin %}
	<p>
		{{ field.errors }}
		{{ field.label_tag }} {{ field }}
		{% if field.help_text %}
		<p class="help">{{ field.help_text|safe }}</p>
		{% endif %}
	</p>
	{% endif %}
	{% endfor %}
	<a class="save-profile" data-profile-id="{{form.prefix}}" href="javascript:void(0)">Save</a>
	<a class="close-profile" href="javascript:void(0)">Close</a>

	  {% for index, link in form.links %}
			<div id="{{ form.links_prefix }}{{ empty_link_id}}container" class="profile-add-links">
  			<h4 class="header smaller lighter blue block">Link {{ index }}</h4>
				<div class="col-sm-2 control-label text-left"><label for="{{ form.links_prefix }}{{ index }}-text">Link {{ index }} text:</label></div>
				<div class="col-sm-9 no-padding"><input class="vTextField" id="{{ form.index }}{{ index }}-text" maxlength="200" name="{{ form.links_prefix }}{{ index }}-text" type="text" value="{{ link.text }}"></div>

				<div class="col-sm-2 control-label text-left"><label for="{{ form.links_prefix }}{{ index }}-url">Link {{ index }} URL:</label></div>
				<div class="col-sm-9 no-padding"><input class="vTextField" id="{{ form.links_prefix }}{{ index }}-url" maxlength="200" name="{{ form.links_prefix }}{{ index }}-url" type="text" value="{{ link.url }}"></div>

				<div class="col-sm-2 control-label text-left"><label for="{{ form.links_prefix }}{{ index }}-open_action">Link {{ index }} target:</label></div>
				<div class="col-sm-9 no-padding">
					<select id="{{ form.links_prefix }}{{ index }}-open_action" name="{{ form.links_prefix }}{{ index }}-open_action">
						<option value="blank" {% if link.target == "blank" %} selected="selected" {% endif %}>blank</option>
						<option value="parent" {% if link.target == "parent" %} selected="selected" {% endif %}>parent</option>
					</select>
				</div>

				<div class="col-sm-2 control-label text-left"><label for="{{ form.links_prefix }}{{ index }}-delete">Delete link {{ index }} :</label></div>
				<div class="col-sm-9 no-padding"><input id="{{ form.links_prefix }}{{ index }}-delete" name="{{ form.links_prefix }}{{ index }}-delete" type="checkbox"></div>
			</div>
		{% endfor %}
	  {% for empty_link_id in form.empty_links %}
			<div id="{{ form.links_prefix }}{{ empty_link_id}}container" class="profile-add-links" style="display:none">
				<h4 class="blue block no-margin-bottom lighter">Link {{ empty_link_id }}</h4><hr>
				<div class="form-row">
					<div class="col-sm-2 control-label text-left"><label for="{{ form.links_prefix }}{{ empty_link_id}}-text">Link {{ empty_link_id }} Text:</label></div>
					<div class="col-sm-9 no-padding"><input class="vTextField" id="{{ form.links_prefix }}{{ empty_link_id}}-text" maxlength="200" name="{{ form.links_prefix }}{{ empty_link_id}}-text" type="text"></div>
				</div>
				<div class="form-row profile-add-link-url">
					<div class="col-sm-2 control-label text-left"><label for="{{ form.links_prefix }}{{ empty_link_id}}-url">Link {{ empty_link_id }} URL:</label></div>
					<div class="col-sm-9 no-padding">
						<input class="vTextField" id="{{ form.links_prefix }}{{ empty_link_id}}-url" maxlength="200" name="{{ form.links_prefix }}{{ empty_link_id}}-url" type="text">
						<select id="{{ form.links_prefix }}{{ empty_link_id }}-open_action" name="{{ form.links_prefix }}{{ empty_link_id}}-open_action">
							<option value="blank">blank</option>
							<option value="parent">parent</option>
						</select>
					</div>
				</div>

				<div class="col-sm-2 control-label text-left"><label for="{{ form.links_prefix }}{{ empty_link_id }}-delete">Delete Link {{ index }} :</label></div>
				<div class="col-sm-9 no-padding"><input id="{{ form.links_prefix }}{{ empty_link_id }}-delete" name="{{ form.links_prefix }}{{ empty_link_id }}-delete" type="checkbox"></div>
			</div>
		{% endfor %}
		{% if form.empty_links %}
			<p class="col-sm-9 col-sm-offset-2 no-padding">
				<a class="add-row add-profile-link btn btn-primary" href="javascript:void(0)"
					data-prefix="{{ form.links_prefix }}" data-current="{{ form.links_len }}">
					<span class="add-btn ace-icon fa fa-plus" unselectable="on"></span>
					<span class="add-text" unselectable="on">Add Additional Link</span>
				</a>
			</p>
		{% endif %}
    {{ fk_field.field }}
	</div>
</div>
{% endwith %}
