{% load i18n admin_static %}
{% spaceless %}
<div class="inline-group" id="{{ inline_admin_formset.formset.prefix }}-group">
{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}
<ul id='{{ inline_admin_formset.formset.prefix }}-group-grid'>
	Selected profiles:<br>
{% for available_profile in inline_admin_formset.formset.available_profiles %}
	{{ available_profile }}
{% endfor %}
	Not selected profiles:<br>
{% for available_profile in inline_admin_formset.formset.available_profiles %}
	{{ available_profile }}
{% endfor %}
</ul>
</div>
{% endspaceless %}
