.header.blue {
    background: #d9edf7 !important;
    font-size: 17px !important;
    padding: 0 10px 0 15px !important;
    border: 1px solid #bce8f1 !important;
    color: #31708f !important;
    margin: 0 0 16px;
    font-weight: 300 !important;
    text-transform: capitalize;
}

.inline-group .header.block {
    margin-bottom: 20px !important;
}

.overlay {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 9;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    &.visible {
        opacity: 1;
        // height: 100%;
        display: block;
    }
}

fieldset.form-horizontal textarea {
    height: 185px;
}

#profile_set-group-grid {
    list-style: none;
    margin: 0;
    overflow: hidden;
    & > div {
        width: 150px;
        height: 150px;
        border-radius: 2px;
        border: 1px solid #b7bbc0;
        float: left;
        margin: 20px 10px 0;
        &.add-new-profile-btn {
            background: url(../images/icon.png) center no-repeat;
            font-size: 0;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
        &.complete {
            &:hover .profile-item-actions a {
                opacity: 1;
                filter: alpha(opacity=1);
            }
        }
    }
    .profile-item-actions {
        a {
            filter: alpha(opacity=0);
            opacity: 0;
            background-color: rgba(0, 0, 0, 0.4);
            width: 30px;
            height: 30px;
            line-height: 28px;
            display: inline-block;
            float: left;
            margin: 0;
            vertical-align: middle;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            text-align: center;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            &.delete-profile-item {
                float: right;
            }
        }
        & + div {
            margin: 20px 10px 0;
        }
    }
    .form-row {
        margin-bottom: 30px;
        overflow: hidden;
        input[type="text"],
        textarea {
            width: 75%;
        }
        textarea {
            height: 145px;
        }
        br {
            display: none;
        }
        .helptext {
            font-size: 12px;
            font-style: italic;
            margin-bottom: 10px;
            color: #737373;
        }
        &.profile-add-link-url {
            input[type="text"] {
                width: 56%;
                margin-right: 1%;
                float: left;
            }
            select {
                width: 18%;
                height: 34px;
                float: left;
            }
        }
    }
    .new-profile-form,
    .complete > div:not(.profile-item-actions) {
        border: none;
        left: 0;
        right: 0;
        width: auto;
        height: auto;
        padding-bottom: 30px;
        top: -9999px;
        position: absolute;
        -webkit-transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        transition: all 0.5s ease-in;
        &.visible {
            z-index: 10;
            top: 0;
            border: 1px solid #b7bbc0;
            background: white;
            -webkit-transition: all 0.7s ease-out;
            -moz-transition: all 0.5s ease-out;
            -o-transition: all 0.5s ease-out;
            -ms-transition: all 0.7s ease-out;
            transition: all 0.7s ease-out;
        }
    }
}

.add-profile-link {
    margin: auto;
}

.profile-add-links {
    overflow: hidden;
    h4 {
        padding-left: 15px;
    }
    hr {
        margin-top: 10px;
    }
}
.limiterBox {
	border: none;
	background: none;
	padding: 3px 6px;
	font-size: 12px;
	color: #737373;
	text-align: right;
	font-weight: 300;
	margin-top: 3px;
	margin-left: 15px;
	
	&:after, &:before {
  		display: none;
	}
}
.profile-image-panel {
    padding: 19px 0;
    margin: 20px 0;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-left: 15px;
    width: 72%;
    overflow: visible !important;
    clear: both;
    position: relative;
    .control-label {
        width: auto;
        padding-left: 0;
    }
    .form-row {
        margin-bottom: 0 !important;
        padding: 0 19px;
        & + .form-row {
            padding-top: 15px;
            border-top: 1px solid #e3e3e3;
            margin-top: 20px;
            margin-bottom: 20px !important;
        }
    }
    .related-widget-wrapper {
        display: block;
        & > a:first-child,
        .no-image-preview {
            float: right;
            margin-top: -54px;
            width: 200px;
            height: 200px;
            background: white;
        }
    }
    .no-padding .no-image-preview {
        float: right;
        margin-top: -54px;
    }
    img.quiet:after {
        content: "test";
    }
    .no-image-preview {
        border: 1px solid #ddd;
        background: white;
        width: 200px;
        height: 200px;
        img.no-filer-image {
            visibility: hidden;
        }
        span {
            display: none;
        }
    }
}

.grid-list .plugin-submit-row {
    padding-right: 20px;
}
.form-horizontal .form-group {
	margin-bottom: 30px;
}

//errors 
.form-group.has-error,
.form-row.has-error {
    .error {
        border: solid 1px #a94442 !important;
        color: #a94442 !important;
        padding-left: 25px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        float: left;
    }
    .help-block.col-sm-reset {
        color: #a94442 !important;
        float: left !important;
        margin-left: 10px;
        line-height: 34px;
        display: block !important;
        visibility: visible !important;
    }
    .col-sm-9:before {
        content: "\f06a";
        display: inline-block;
        position: absolute;
        top: 9px;
        left: 6px;
        z-index: 100;
        font: normal normal normal 16px/1 FontAwesome;
        text-rendering: auto;
        color: #dd5a43;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .col-sm-9 {
        position: relative;
    }
    .control-label {
        color: #a94442;
    }
}

.profile-image-panel.has-error {
    border: solid 1px #a94442 !important;
    .help-block.col-sm-reset {
        position: absolute;
        right: -140px;
        display: block !important;
        visibility: visible !important;
    }
}
// profile PROMO
#profile_set-group-grid {
	.profile-item-actions {
		height: 100%;
	
		.select-profile-item {
			width: 100%;
			height: 100%;
			display: block;
			background: none !important;
			opacity: 1;
			text-decoration: none;

			.ace-icon {
				display: none;
			}
			&.selected {
				border: 5px solid #ccc;

				.ace-icon {
					display: inline-block;
					float: right;
					background: rgba(0,0,0,0.4);
					color: #ccc;
					margin: 0;
					font-size: 30px;
				}
			}
			&:not(.selected):hover {
				border: 5px solid #ccc;
			}
			&.disabled {
				background: rgba(0, 0, 0, 0.5) !important;
				cursor: not-allowed;
				border: none !important;
			}
		}
	}
}
#profilepromogrid_form {
	.field-profiles_field {
		display: none;
	}
	#warning_maximum_selection {
		margin-bottom: 0;
  		margin-top: 15px;
	}
	.form-horizontal + .form-horizontal {
		display: none;
	}
	#warning_maximum_selection {
		display: none;
	}
}
