/* line 1, ../sass/profile_admin.scss */
.header.blue {
  background: #d9edf7 !important;
  font-size: 17px !important;
  padding: 0 10px 0 15px !important;
  border: 1px solid #bce8f1 !important;
  color: #31708f !important;
  margin: 0 0 16px;
  font-weight: 300 !important;
  text-transform: capitalize;
}

/* line 11, ../sass/profile_admin.scss */
.inline-group .header.block {
  margin-bottom: 20px !important;
}

/* line 14, ../sass/profile_admin.scss */
.overlay {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 30, ../sass/profile_admin.scss */
.overlay.visible {
  opacity: 1;
  display: block;
}

/* line 36, ../sass/profile_admin.scss */
fieldset.form-horizontal textarea {
  height: 185px;
}

/* line 39, ../sass/profile_admin.scss */
#profile_set-group-grid {
  list-style: none;
  margin: 0;
  overflow: hidden;
}
/* line 44, ../sass/profile_admin.scss */
#profile_set-group-grid > div {
  width: 150px;
  height: 150px;
  border-radius: 2px;
  border: 1px solid #b7bbc0;
  float: left;
  margin: 20px 10px 0;
}
/* line 52, ../sass/profile_admin.scss */
#profile_set-group-grid > div.add-new-profile-btn {
  background: url(../images/icon.png) center no-repeat;
  font-size: 0;
}
/* line 56, ../sass/profile_admin.scss */
#profile_set-group-grid > div.add-new-profile-btn a {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 63, ../sass/profile_admin.scss */
#profile_set-group-grid > div.complete:hover .profile-item-actions a {
  opacity: 1;
  filter: alpha(opacity=1);
}
/* line 70, ../sass/profile_admin.scss */
#profile_set-group-grid .profile-item-actions a {
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 30px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  float: left;
  margin: 0;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 91, ../sass/profile_admin.scss */
#profile_set-group-grid .profile-item-actions a.delete-profile-item {
  float: right;
}
/* line 95, ../sass/profile_admin.scss */
#profile_set-group-grid .profile-item-actions + div {
  margin: 20px 10px 0;
}
/* line 99, ../sass/profile_admin.scss */
#profile_set-group-grid .form-row {
  margin-bottom: 20px;
  overflow: hidden;
}
/* line 103, ../sass/profile_admin.scss */
#profile_set-group-grid .form-row input[type="text"], #profile_set-group-grid .form-row textarea {
  width: 75%;
}
/* line 106, ../sass/profile_admin.scss */
#profile_set-group-grid .form-row textarea {
  height: 145px;
}
/* line 109, ../sass/profile_admin.scss */
#profile_set-group-grid .form-row br {
  display: none;
}
/* line 112, ../sass/profile_admin.scss */
#profile_set-group-grid .form-row .helptext {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
  color: #737373;
}
/* line 119, ../sass/profile_admin.scss */
#profile_set-group-grid .form-row.profile-add-link-url input[type="text"] {
  width: 56%;
  margin-right: 1%;
  float: left;
}
/* line 124, ../sass/profile_admin.scss */
#profile_set-group-grid .form-row.profile-add-link-url select {
  width: 18%;
  height: 34px;
  float: left;
}
/* line 131, ../sass/profile_admin.scss */
#profile_set-group-grid .new-profile-form, #profile_set-group-grid .complete > div:not(.profile-item-actions) {
  border: none;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
  padding-bottom: 30px;
  top: -9999px;
  position: absolute;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}
/* line 146, ../sass/profile_admin.scss */
#profile_set-group-grid .new-profile-form.visible, #profile_set-group-grid .complete > div:not(.profile-item-actions).visible {
  z-index: 10;
  top: 0;
  border: 1px solid #b7bbc0;
  background: white;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

/* line 159, ../sass/profile_admin.scss */
.add-profile-link {
  margin: auto;
}

/* line 162, ../sass/profile_admin.scss */
.profile-add-links {
  overflow: hidden;
}
/* line 165, ../sass/profile_admin.scss */
.profile-add-links h4 {
  padding-left: 15px;
}
/* line 168, ../sass/profile_admin.scss */
.profile-add-links hr {
  margin-top: 10px;
}

/* line 172, ../sass/profile_admin.scss */
.profile-image-panel {
  padding: 19px 0;
  margin: 20px 0;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-left: 15px;
  width: 72%;
  overflow: visible !important;
  clear: both;
  position: relative;
}
/* line 185, ../sass/profile_admin.scss */
.profile-image-panel .control-label {
  width: auto;
  padding-left: 0;
}
/* line 189, ../sass/profile_admin.scss */
.profile-image-panel .form-row {
  margin-bottom: 0 !important;
  padding: 0 19px;
}
/* line 193, ../sass/profile_admin.scss */
.profile-image-panel .form-row + .form-row {
  padding-top: 15px;
  border-top: 1px solid #e3e3e3;
  margin-top: 20px;
}
/* line 199, ../sass/profile_admin.scss */
.profile-image-panel .related-widget-wrapper {
  display: block;
}
/* line 202, ../sass/profile_admin.scss */
.profile-image-panel .related-widget-wrapper > a:first-child, .profile-image-panel .related-widget-wrapper .no-image-preview {
  float: right;
  margin-top: -54px;
  width: 200px;
  height: 200px;
  background: white;
}
/* line 211, ../sass/profile_admin.scss */
.profile-image-panel .no-padding .no-image-preview {
  float: right;
  margin-top: -54px;
}
/* line 215, ../sass/profile_admin.scss */
.profile-image-panel img.quiet:after {
  content: "test";
}
/* line 218, ../sass/profile_admin.scss */
.profile-image-panel .no-image-preview {
  border: 1px solid #ddd;
  background: white;
  width: 200px;
  height: 200px;
}
/* line 224, ../sass/profile_admin.scss */
.profile-image-panel .no-image-preview img.no-filer-image {
  visibility: hidden;
}
/* line 227, ../sass/profile_admin.scss */
.profile-image-panel .no-image-preview span {
  display: none;
}

/* line 232, ../sass/profile_admin.scss */
.grid-list .plugin-submit-row {
  padding-right: 20px;
}

/* line 238, ../sass/profile_admin.scss */
.form-group.has-error .error, .form-row.has-error .error {
  border: solid 1px #a94442 !important;
  color: #a94442 !important;
  padding-left: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
}
/* line 247, ../sass/profile_admin.scss */
.form-group.has-error .help-block.col-sm-reset, .form-row.has-error .help-block.col-sm-reset {
  color: #a94442 !important;
  float: left !important;
  margin-left: 10px;
  line-height: 34px;
  display: block !important;
  visibility: visible !important;
}
/* line 255, ../sass/profile_admin.scss */
.form-group.has-error .col-sm-9:before, .form-row.has-error .col-sm-9:before {
  content: "\f06a";
  display: inline-block;
  position: absolute;
  top: 9px;
  left: 6px;
  z-index: 100;
  font: normal normal normal 16px/1 FontAwesome;
  text-rendering: auto;
  color: #dd5a43;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 268, ../sass/profile_admin.scss */
.form-group.has-error .col-sm-9, .form-row.has-error .col-sm-9 {
  position: relative;
}
/* line 271, ../sass/profile_admin.scss */
.form-group.has-error .control-label, .form-row.has-error .control-label {
  color: #a94442;
}

/* line 275, ../sass/profile_admin.scss */
.profile-image-panel.has-error {
  border: solid 1px #a94442 !important;
}
/* line 278, ../sass/profile_admin.scss */
.profile-image-panel.has-error .help-block.col-sm-reset {
  position: absolute;
  right: -140px;
  display: block !important;
  visibility: visible !important;
}
